Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

.pre-commit-config.yaml:

ci:
    skip: [build-docs, license, pylint]

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/pyqt5/resource.py|
        cx_Freeze/hooks/pyside2/resource.py|
        cx_Freeze/hooks/pyside6/resource.py
    )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ["--remove"]
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: trailing-whitespace

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.13
  hooks:
  - id: validate-pyproject

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.281
  hooks:
  - id: ruff
    args: ["--fix"]

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: 1.15.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.7.0]
    args: ["-l", "79"]

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: sphinx-build -M html doc/src build/doc -d build/doc/.doctrees -j auto
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.*.txt)$

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]

build(deps): support lief 0.14.x
  Makefile
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

build(deps): support lief 0.14.x (#2267)
  Makefile
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

chore: use only 'ruff' as a linter and formatter
  .pre-commit-config.yaml
  Makefile
  README.md
  cx_Freeze/__init__.py
  cx_Freeze/command/_bdist_msi.py
  cx_Freeze/command/_pydialog.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/common.py
  cx_Freeze/finder.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/pandas.py
  cx_Freeze/hooks/scipy.py
  cx_Freeze/hooks/setuptools.py
  cx_Freeze/hooks/skimage.py
  cx_Freeze/hooks/tiktoken.py
  cx_Freeze/hooks/xlib.py
  cx_Freeze/setupwriter.py
  cx_Freeze/winversioninfo.py
  pyproject.toml
  requirements-dev.txt
  tests/test_windows_manifest.py
Due: requirements, pylint

chore: use only 'ruff' as a linter and formatter (#2268)
  .pre-commit-config.yaml
  Makefile
  README.md
  cx_Freeze/__init__.py
  cx_Freeze/command/_bdist_msi.py
  cx_Freeze/command/_pydialog.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/common.py
  cx_Freeze/finder.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/pandas.py
  cx_Freeze/hooks/scipy.py
  cx_Freeze/hooks/setuptools.py
  cx_Freeze/hooks/skimage.py
  cx_Freeze/hooks/tiktoken.py
  cx_Freeze/hooks/xlib.py
  cx_Freeze/setupwriter.py
  cx_Freeze/winversioninfo.py
  pyproject.toml
  requirements-dev.txt
  tests/test_windows_manifest.py
Due: requirements, pylint

tests: improve bdist_msi tests and samples
  doc/src/setup_script.rst
  samples/msi_binary_data/setup.py
  samples/msi_extensions/setup.py
  samples/msi_summary_data/setup.py
  tests/test_command_bdist_msi.py
Due: pylint

tests: add more tests for freezer (#2254)
  cx_Freeze/freezer.py
Due: pylint

pre-commit: use validate-pyproject-schema-store (#2258)
  .github/workflows/build-wheel.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: requirements

chore: use only 'ruff' as a linter and formatter (#2268)
  .pre-commit-config.yaml
  Makefile
  README.md
  cx_Freeze/__init__.py
  cx_Freeze/command/_bdist_msi.py
  cx_Freeze/command/_pydialog.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/common.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/backports.py
  cx_Freeze/hooks/crypto.py
  cx_Freeze/hooks/multiprocessing.py
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/pandas.py
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/scipy.py
  cx_Freeze/hooks/setuptools.py
  cx_Freeze/hooks/skimage.py
  cx_Freeze/hooks/tiktoken.py
  cx_Freeze/hooks/xlib.py
  cx_Freeze/setupwriter.py
  cx_Freeze/winversioninfo.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_windows_manifest.py
Due: requirements, pylint

tests: improve bdist_msi tests and samples (#2269)
  doc/src/setup_script.rst
  samples/msi_binary_data/setup.py
  samples/msi_extensions/setup.py
  samples/msi_summary_data/setup.py
  tests/test_command_bdist_msi.py
Due: pylint

bdist_msi: remove unused code
  cx_Freeze/command/_bdist_msi.py
  cx_Freeze/command/bdist_msi.py
Due: pylint

samples: typo
  samples/msi_binary_data/setup.py
Due: pylint

bdist_msi: remove unused code (#2270)
  cx_Freeze/command/_bdist_msi.py
  cx_Freeze/command/bdist_msi.py
Due: pylint

hooks: support pytorch 2.2
  cx_Freeze/hooks/torch.py
Due: pylint

docs: update msvcr links
  doc/src/faq.rst
Due: none

docs: update msvcr links (#2284)
  doc/src/faq.rst
Due: none

hooks: support pytorch 2.2 (#2281)
  cx_Freeze/hooks/torch.py
Due: pylint

doc: improve the code_layout a bit
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_msi.py
  doc/src/development/code_layout.rst
Due: pylint

doc: improve the code_layout a bit (#2288)
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_msi.py
  doc/src/development/code_layout.rst
Due: pylint

build(deps-dev): bump ruff-pre-commit 0.3.2 [ci skip]
  .pre-commit-config.yaml
  Makefile
Due: none

build(deps-dev): bump ruff-pre-commit 0.3.2 [ci skip] (#2294)
  .pre-commit-config.yaml
  Makefile
Due: none

cli: restore more deprecated options
  cx_Freeze/cli.py
  cx_Freeze/command/build_exe.py
  tests/test_cli.py
Due: pylint

cli: restore more deprecated options (#2295)
  cx_Freeze/cli.py
  cx_Freeze/command/build_exe.py
  tests/test_cli.py
Due: pylint

build-wheel: use macos-14 (native arm) with cibuildwheel
  .github/workflows/build-wheel.yml
Due: none

build-wheel: use macos-14 (native arm) with cibuildwheel (#2299)
  .github/workflows/build-wheel.yml
Due: none

build-wheel: use macos-14 (native arm) with cibuildwheel (#2299)
  .github/workflows/build-wheel.yml
  pyproject.toml
  requirements-dev.txt
Due: requirements

fix: restore cibuildwheel requirement
  pyproject.toml
  requirements-dev.txt
Due: requirements

hooks: support tensorflow plugins
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/tensorflow.py
Due: pylint

add torch source of ao and nn
  cx_Freeze/hooks/torch.py
Due: pylint

fix torchvision hook
  cx_Freeze/hooks/torchvision.py
Due: pylint

hooks: add easyocr
  cx_Freeze/hooks/easyocr.py
  cx_Freeze/hooks/skimage.py
Due: pylint

fix torch hook
  cx_Freeze/hooks/torch.py
Due: pylint

add torch source files
  cx_Freeze/hooks/torch.py
Due: pylint

add torchvision hook
  cx_Freeze/hooks/torchvision.py
Due: pylint
