Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, license, requirements

.pre-commit-config.yaml:

ci:
  skip: [blacken-docs, build-docs, shellcheck]

exclude: |
  (?x)^(
      cx_Freeze/hooks/_pyqt5_/_resource.py|
      cx_Freeze/hooks/_pyside2_/_resource.py|
      cx_Freeze/hooks/_pyside6_/_resource.py|
      cx_Freeze/importshed/.*.pyi|
      doc/src/conf.py
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        additional_dependencies:
          - validate-pyproject-schema-store[all]>=2024.11.22

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==25.1.0
        args: ["-l", "79"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        args: ["--ignore-words-list=lief,LIEF", "-w", "--skip=*.rtf"]
        exclude: (?x)^(cx_Freeze/hooks/global_names.py)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.0
    hooks:
      - id: clang-format
        args: ["--style=file:source/.clang-format"]
        exclude: |
          (?x)^(source/bases/pythoncapi_compat.h|
                source/legacy/pythoncapi_compat.h
          )$
        types_or: [c, c++]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]

  - repo: local
    hooks:
      - id: shellcheck
        name: shell script analysis tool
        entry: shellcheck
        language: system
        files: ^(.*.sh)$

  - repo: local
    hooks:
      - id: build-docs
        name: build sphinx docs
        language: system
        entry: make -C doc html
        always_run: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: license
        name: license
        language: system
        entry: python ci/license.py
        files: ^(doc/src/license.rst|
          cx_Freeze/initscripts/frozen_application_license.txt
          )$

  - repo: local
    hooks:
      - id: requirements
        name: requirements
        language: system
        entry: python ci/requirements.py
        files: ^(pyproject.toml|requirements.txt|requirements-dev.txt|
          doc/requirements.txt|tests/requirements.txt
          )$

fix: include-msvcr is also used on MSYS2 environments (#3219)
  Makefile
  cx_Freeze/_compat.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/freezer.py
  pyproject.toml
  tests/hooks/test_av.py
  tests/test_command_build_exe.py
  tests/test_freezer.py
Due: requirements

samples: Add ssl and requests samples
  samples/requests/pyproject.toml
  samples/requests/setup.py
  samples/requests/test_requests.py
  samples/ssl/setup.py
  samples/ssl/test_ssl.py
  samples/sslfix/setup.py
  samples/sslfix/test_sslfix.py
Due: none

Support for build and tests
  ci/_platform.py
  ci/build-manylinux-test-one.sh
  ci/build-manylinux-tests.sh
  ci/build-test-one.sh
  ci/build-test.json
  ci/build-test.sh
  ci/build-utils.sh
  ci/build_run.py
  ci/build_test.py
  ci/manylinux-build-wheel.sh
  ci/manylinux-create.sh
  ci/manylinux-shared.sh
  ci/screencapture.bat
  ci/screencapture.wine.bat
  ci/screencapture.wine.sh
  ci/test-manylinux-one.sh
Due: shellcheck

Improve the sample getdependentfiles
  samples/dependencies/getdependentfiles.py
  samples/dependencies/test_1.py
Due: none

Bump version: 8.5.1 → 8.6.0-dev.1766748659 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

Bump version: 8.5.1 → 8.5.2 [ci skip]
  ci/build-wheel.sh
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
  tests/hooks/test_av.py
Due: shellcheck, requirements

Bump version: 8.5.1 → 8.5.2 [ci skip] (#3222)
  ci/build-wheel.sh
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
  tests/hooks/test_av.py
Due: shellcheck, requirements

Update version number to 8.5.2
  index.html
Due: none

chore: Add cooldown for dependabot
  .github/dependabot.yml
  doc/requirements.txt
  pyproject.toml
  requirements-dev.txt
  tests/requirements.txt
Due: requirements

make tests pass
  tests/hooks/test_zstd.py
Due: none

chore: Add cooldown for dependabot (#3226)
  .github/dependabot.yml
  doc/requirements.txt
  pyproject.toml
  requirements-dev.txt
  tests/hooks/test_zstd.py
  tests/requirements.txt
Due: requirements

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

fix: avoid possible error w/ pure implicity namespaces
  cx_Freeze/finder.py
  cx_Freeze/module.py
Due: none

fix: avoid possible error w/ pure implicity namespaces (#3227)
  cx_Freeze/finder.py
  cx_Freeze/module.py
Due: none

hooks: fix setuptools interference in implicit namespaces such as backports.zstd
  cx_Freeze/freezer.py
  cx_Freeze/hooks/_pkg_resources_.py
  cx_Freeze/hooks/_setuptools_.py
  tests/datatest.py
  tests/hooks/test_setuptools.py
  tests/hooks/test_zstd.py
  tests/test_modulefinder.py
Due: none

hooks: fix setuptools interference in implicit namespaces such as backports.zstd (#3228)
  cx_Freeze/freezer.py
  cx_Freeze/hooks/_pkg_resources_.py
  cx_Freeze/hooks/_setuptools_.py
  tests/datatest.py
  tests/hooks/test_setuptools.py
  tests/hooks/test_zstd.py
  tests/test_modulefinder.py
Due: none

Bump version: 8.5.2 → 8.5.3 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Update version number to 8.5.3
  index.html
Due: none

Bump version: 8.5.2 → 8.5.3 [ci skip] (#3229)
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

hooks: add win32print module (pywin32)
  cx_Freeze/hooks/__init__.py
Due: none

hooks: add win32print module (pywin32) (#3231)
  cx_Freeze/hooks/__init__.py
Due: none

hooks: ignore typing_extensions globally and minor tweaks
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_jaraco_.py
  cx_Freeze/hooks/_pkg_resources_.py
  cx_Freeze/hooks/_setuptools_.py
  cx_Freeze/hooks/_zmq_.py
  cx_Freeze/hooks/unused_modules.py
  cx_Freeze/module.py
Due: none

hooks: ignore typing_extensions globally and minor tweaks (#3232)
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_jaraco_.py
  cx_Freeze/hooks/_pkg_resources_.py
  cx_Freeze/hooks/_setuptools_.py
  cx_Freeze/hooks/_zmq_.py
  cx_Freeze/hooks/unused_modules.py
  cx_Freeze/module.py
Due: none

build(deps): update lief requirement from >=0.15.1,<=0.17.1 to >=0.15.1,<=0.17.2
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
Due: requirements

build(deps): update lief requirement from >=0.15.1,<=0.17.1 to >=0.15.1,<=0.17.2 (#3234)
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
Due: requirements

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/coverage_html_cb_dd2e7eb5.js
  htmlcov/favicon_32_cb_c827f16f.png
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/keybd_closed_cb_900cfef5.png
  htmlcov/status.json
  htmlcov/style_cb_9ff733b0.css
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

bdist_msi: refactor to work better with pyproject
  cx_Freeze/command/bdist_msi.py
  doc/src/bdist_msi.rst
  tests/test_command_bdist_msi.py
Due: none

improve coverage
  cx_Freeze/command/bdist_msi.py
  tests/test_command_bdist_msi.py
Due: none

typo
  tests/test_command_bdist_msi.py
Due: none

bdist_msi: refactor to work better with pyproject (#3235)
  cx_Freeze/command/bdist_msi.py
  doc/src/bdist_msi.rst
  tests/test_command_bdist_msi.py
Due: none

tests: make tests pass using pip and mingw
  ci/install-tools.sh
  pyproject.toml
  requirements.txt
  tests/hooks/test_ortools.py
Due: shellcheck, requirements

tests: make tests pass using pip and mingw (#3239)
  ci/install-tools.sh
  pyproject.toml
  requirements.txt
  tests/hooks/test_ortools.py
Due: shellcheck, requirements

Fix KeyError for QmlImportsPath when freezing PyQt5 applications
  cx_Freeze/hooks/qthooks.py
Due: none
