Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: pythoncapi, license, requirements

.pre-commit-config.yaml:

ci:
    skip: [blacken-docs, build-docs]

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/_pyqt5_/_resource.py|
        cx_Freeze/hooks/_pyside2_/_resource.py|
        cx_Freeze/hooks/_pyside6_/_resource.py|
        cx_Freeze/importshed/.*.pyi|
        doc/src/conf.py
    )$

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: trailing-whitespace

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.24.1
  hooks:
  - id: validate-pyproject
    additional_dependencies:
    - validate-pyproject-schema-store[all]>=2024.11.22

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.12
  hooks:
  - id: ruff-check
    args: ["--fix", "--unsafe-fixes"]
  - id: ruff-format

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.19.1
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==25.1.0
    args: ["-l", "79"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    args: ["--ignore-words-list=lief,LIEF", "-w", "--skip=*.rtf"]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.5
  hooks:
  - id: clang-format
    args: ["--style=file:source/.clang-format"]
    exclude: |
            (?x)^(source/bases/pythoncapi_compat.h|
                  source/legacy/pythoncapi_compat.h
            )$

- repo: local
  hooks:
  - id: pythoncapi
    name: upgrade pythoncapi
    entry: ci/pythoncapi.sh
    language: system
    files: ^(source/bases/pythoncapi_compat.h|
             source/.*.c
            )$

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: make -C doc html
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|
             cx_Freeze/initscripts/frozen_application_license.txt
            )$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.txt|requirements-dev.txt|
             doc/requirements.txt|tests/requirements.txt
            )$

tests: fix tests using lief and pymupdf on conda-forge [ci skip] (#2993)
  tests/hooks/test_pymupdf.py
  tests/test_dep_parser.py
  tests/test_windows_manifest.py
Due: none

tests: disable slow tests on conda-forge [ci skip]
  tests/hooks/test_av.py
  tests/hooks/test_numpy.py
Due: none

tests: disable slow tests on conda-forge [ci skip] (#2994)
  tests/hooks/test_av.py
  tests/hooks/test_numpy.py
Due: none

Fixed crash when sys.path contains non-str type
  cx_Freeze/initscripts/__startup__.py
Due: none

Use isinstance and fix the variable name
  cx_Freeze/initscripts/__startup__.py
Due: none

build-wheel: fix regression [ci skip]
  ci/build-wheel.sh
  source/bases/pythoncapi_compat.h
  source/legacy/pythoncapi_compat.h
Due: pythoncapi

build-wheel: fix regression [ci skip] (#2999)
  ci/build-wheel.sh
  source/bases/pythoncapi_compat.h
  source/legacy/pythoncapi_compat.h
Due: pythoncapi

tests: implement a venv to tests hooks
  Makefile
  tests/conftest.py
  tests/hooks/test_async.py
  tests/hooks/test_av.py
  tests/hooks/test_crypto.py
  tests/hooks/test_numpy.py
  tests/hooks/test_pillow.py
  tests/hooks/test_pyarrow.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_pytz.py
  tests/hooks/test_win32com.py
  tests/hooks/test_zeroconf.py
Due: none

fix the isolated flag
  tests/conftest.py
Due: none

fix to work on py313t
  tests/conftest.py
Due: none

implement a conda venv too
  Makefile
  tests/conftest.py
Due: none

tests: implement a venv to tests hooks (#2997)
  Makefile
  tests/conftest.py
  tests/hooks/test_async.py
  tests/hooks/test_av.py
  tests/hooks/test_crypto.py
  tests/hooks/test_numpy.py
  tests/hooks/test_pillow.py
  tests/hooks/test_pyarrow.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_pytz.py
  tests/hooks/test_win32com.py
  tests/hooks/test_zeroconf.py
Due: none

Update coverage data
  README.md
  badge.svg
  data.json
  endpoint.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_repack_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

cx_freeze: upate patchelf requirements to >=0.14,<0.18 [ci skip]
  .pre-commit-config.yaml
  ci/install-tools.sh
  pyproject.toml
  requirements.txt
Due: requirements

build(deps): upate patchelf requirements to >=0.14,<0.18 [ci skip] (#3000)
  .pre-commit-config.yaml
  ci/install-tools.sh
  pyproject.toml
  requirements.txt
Due: requirements

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_repack_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

Support for build and tests
  ci/_platform.py
  ci/build-manylinux-test-one.sh
  ci/build-manylinux-tests.sh
  ci/build-test-one.sh
  ci/build-test.json
  ci/build-test.sh
  ci/build-utils.sh
  ci/build_run.py
  ci/build_test.py
  ci/manylinux-build-wheel.sh
  ci/manylinux-create.sh
  ci/manylinux-shared.sh
  ci/screencapture.bat
  ci/screencapture.wine.bat
  ci/screencapture.wine.sh
  ci/test-manylinux-one.sh
Due: none

Improve the sample getdependentfiles
  samples/dependencies/getdependentfiles.py
  samples/dependencies/test_1.py
Due: none

samples: Add ssl and requests samples
  samples/requests/pyproject.toml
  samples/requests/setup.py
  samples/requests/test_requests.py
  samples/ssl/setup.py
  samples/ssl/test_ssl.py
  samples/sslfix/setup.py
  samples/sslfix/test_sslfix.py
Due: none

Bump version: 8.4.0-dev.0 → 8.4.0-dev.1749852048 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

build(deps): bump ruff to 0.12.0 and revision of rules [ci skip]
  .pre-commit-config.yaml
  cx_Freeze/util.pyi
  pyproject.toml
  samples/win32com/test_win32com.py
  tests/conftest.py
Due: requirements

build(deps): bump ruff to 0.12.0 and revision of rules [ci skip] (#3004)
  .pre-commit-config.yaml
  cx_Freeze/util.pyi
  pyproject.toml
  samples/win32com/test_win32com.py
  tests/conftest.py
Due: requirements

tests: reduce fixture setup phase and reduce disk usage
  Makefile
  pyproject.toml
  tests/conftest.py
  tests/test_dep_parser.py
Due: requirements

tests: reduce fixture setup phase and reduce disk usage (#3005)
  Makefile
  pyproject.toml
  tests/conftest.py
  tests/test_dep_parser.py
Due: requirements

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/style_cb_81f8c14c.css
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_repack_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

chore: fix ruff D104, E501 (partial) [ci skip]
  README.md
  ci/license.py
  cx_Freeze/__init__.py
  cx_Freeze/command/__init__.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/hooks/unused_modules.py
  cx_Freeze/icons/__init__.py
  cx_Freeze/initscripts/__init__.py
  cx_Freeze/setupwriter.py
  doc/src/index.rst
  pyproject.toml
  samples/dmg/setup.py
  samples/dmg_layout/setup.py
  samples/manifest/setup.py
  samples/matplotlib_tk/setup_zip.py
  samples/pyqt5-simplebrowser/setup.py
  samples/pyside2-simplebrowser/setup.py
  samples/pyside6-simplebrowser/setup.py
  samples/service-asyncio/Config.py
  samples/service/Config.py
  samples/win32com/test_win32com.py
  tests/__init__.py
  tests/hooks/__init__.py
Due: requirements

chore: fix ruff D104, E501 (partial) [ci skip] (#3007)
  README.md
  ci/license.py
  cx_Freeze/__init__.py
  cx_Freeze/command/__init__.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/hooks/unused_modules.py
  cx_Freeze/icons/__init__.py
  cx_Freeze/initscripts/__init__.py
  cx_Freeze/setupwriter.py
  doc/src/index.rst
  pyproject.toml
  samples/dmg/setup.py
  samples/dmg_layout/setup.py
  samples/manifest/setup.py
  samples/matplotlib_tk/setup_zip.py
  samples/pyqt5-simplebrowser/setup.py
  samples/pyside2-simplebrowser/setup.py
  samples/pyside6-simplebrowser/setup.py
  samples/service-asyncio/Config.py
  samples/service/Config.py
  samples/win32com/test_win32com.py
  tests/__init__.py
  tests/hooks/__init__.py
Due: requirements

hooks: multiprocessing - fix Python 3.13.4+ bug introduced by gh-80334 on Windows
  .github/workflows/ci.yml
  cx_Freeze/hooks/_multiprocessing_.py
Due: none

hooks: multiprocessing - fix Python 3.13.4+ bug introduced by gh-80334 on Windows (#3009)
  .github/workflows/ci.yml
  cx_Freeze/hooks/_multiprocessing_.py
Due: none

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_repack_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

hooks: multiprocessing and multiprocess refactored
  cx_Freeze/hooks/_crypto_.py
  cx_Freeze/hooks/_cryptodome_.py
  cx_Freeze/hooks/_multiprocess_.py
  cx_Freeze/hooks/_multiprocessing_.py
Due: none

hooks: multiprocessing and multiprocess refactored (#3010)
  cx_Freeze/hooks/_crypto_.py
  cx_Freeze/hooks/_cryptodome_.py
  cx_Freeze/hooks/_multiprocess_.py
  cx_Freeze/hooks/_multiprocessing_.py
Due: none

tests: enable a minimal test for multiprocess hook
  cx_Freeze/hooks/_multiprocess_.py
  tests/hooks/test_multiprocess.py
Due: none

increase timeout
  tests/hooks/test_multiprocess.py
Due: none
