Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

.pre-commit-config.yaml:

ci:
    skip: [build-docs, license, pylint]

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/pyqt5/resource.py|
        cx_Freeze/hooks/pyside2/resource.py|
        cx_Freeze/hooks/pyside6/resource.py
    )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ["--remove"]
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: trailing-whitespace

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.13
  hooks:
  - id: validate-pyproject

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.281
  hooks:
  - id: ruff
    args: ["--fix"]

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: 1.15.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.7.0]
    args: ["-l", "79"]

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: sphinx-build -M html doc/src build/doc -d build/doc/.doctrees -j auto
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.*.txt)$

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]

freezer: Improve symlink support to work w/ macOS
  cx_Freeze/freezer.py
Due: pylint

freezer: Improve symlink support to work w/ macOS (#2138)
  cx_Freeze/freezer.py
Due: pylint

bdist_mac: apply the style of other bdist modules
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/darwintools.py
Due: pylint

hooks: adds anyio, pyarrow and tiktoken (#2134)
  cx_Freeze/hooks/anyio.py
  cx_Freeze/hooks/pyarrow.py
  cx_Freeze/hooks/tiktoken.py
Due: pylint

hooks: add yt_dlp
  cx_Freeze/hooks/yt_dlp.py
Due: pylint

hooks: add yt_dlp (#2145)
  cx_Freeze/hooks/yt_dlp.py
Due: pylint

chore: switch to bump-my-version
  .bumpversion.cfg
  Makefile
  doc/src/conf.py
  pyproject.toml
  requirements-dev.txt
Due: requirements, pylint

bdist_mac: apply the style of other bdist modules (#2139)
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/darwintools.py
Due: pylint

chore: switch to bump-my-version (#2146)
  .bumpversion.cfg
  Makefile
  doc/src/conf.py
  pyproject.toml
  requirements-dev.txt
Due: requirements, pylint

fix: pthread missing for building in FreeBSD
  setup.py
Due: pylint

fix: pthread missing for building in FreeBSD (#2150)
  setup.py
Due: pylint

Bump version: 6.15.10 → 6.15.11 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

Bump version: 6.16.0-dev10 → 6.16.0-dev11 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

Bump version: 6.16.0-dev10 → 6.16.0-dev11 [ci skip] (#2151)
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

Fix include
  source/bases/common.c
Due: none

Replace SetDllDirectory by AddDllDirectory
  source/bases/common.c
Due: none

Replace SetDllDirectory by AddDllDirectory (#2144)
  source/bases/common.c
Due: none

Update bdist_mac.py
  cx_Freeze/command/bdist_mac.py
Due: pylint

Fix pre_commit issues
  cx_Freeze/command/bdist_mac.py
Due: pylint

build: fix build_wheel (after #2162 and #2163)
  .github/workflows/build-wheel.yml
Due: none

build: fix build_wheel (after #2162 and #2163) (#2170)
  .github/workflows/build-wheel.yml
Due: none

hooks: add PyAV
  cx_Freeze/hooks/_libs.py
  cx_Freeze/hooks/av.py
Due: pylint

hooks: add av
  cx_Freeze/hooks/av.py
Due: pylint

fixes doc
  cx_Freeze/hooks/av.py
Due: pylint

hooks: add AV and PyAV (#2165)
  cx_Freeze/hooks/_libs.py
  cx_Freeze/hooks/av.py
Due: pylint

fix: #2139 introduced a regression
  cx_Freeze/darwintools.py
Due: pylint

fix: #2139 introduced a regression [macos] (#2172)
  cx_Freeze/darwintools.py
Due: pylint

bdist_mac: create symlink between folders specified by user under Resources (#2169)
  cx_Freeze/command/bdist_mac.py
Due: pylint

Bump version: 6.15.11 → 6.15.12 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

Bump version: 6.16.0-dev11 → 6.16.0-dev12 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

Bump version: 6.16.0-dev11 → 6.16.0-dev12 [ci skip] (#2173)
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint
