Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, license, requirements

.pre-commit-config.yaml:

ci:
  skip: [blacken-docs, build-docs, shellcheck]

exclude: |
  (?x)^(
      cx_Freeze/hooks/_pyqt5_/_resource.py|
      cx_Freeze/hooks/_pyside2_/_resource.py|
      cx_Freeze/hooks/_pyside6_/_resource.py|
      cx_Freeze/importshed/.*.pyi|
      doc/src/conf.py
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        additional_dependencies:
          - validate-pyproject-schema-store[all]>=2024.11.22

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==25.1.0
        args: ["-l", "79"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        args: ["--ignore-words-list=lief,LIEF", "-w", "--skip=*.rtf"]
        exclude: (?x)^(cx_Freeze/hooks/global_names.py)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.0
    hooks:
      - id: clang-format
        args: ["--style=file:source/.clang-format"]
        exclude: |
          (?x)^(source/bases/pythoncapi_compat.h|
                source/legacy/pythoncapi_compat.h
          )$
        types_or: [c, c++]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]

  - repo: local
    hooks:
      - id: shellcheck
        name: shell script analysis tool
        entry: shellcheck
        language: system
        files: ^(.*.sh)$

  - repo: local
    hooks:
      - id: build-docs
        name: build sphinx docs
        language: system
        entry: make -C doc html
        always_run: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: license
        name: license
        language: system
        entry: python ci/license.py
        files: ^(doc/src/license.rst|
          cx_Freeze/initscripts/frozen_application_license.txt
          )$

  - repo: local
    hooks:
      - id: requirements
        name: requirements
        language: system
        entry: python ci/requirements.py
        files: ^(pyproject.toml|requirements.txt|requirements-dev.txt|
          doc/requirements.txt|tests/requirements.txt
          )$

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

chore: enable package discovery for src-layout (#3247)
  cx_Freeze/__init__.py
  cx_Freeze/command/build_exe.py
  tests/test_command_build_exe.py
Due: none

tests: improve handling of timeout usage
  tests/conftest.py
  tests/hooks/test_pytz.py
  tests/hooks/test_setuptools.py
  tests/hooks/test_stdlib.py
  tests/hooks/test_streamlit.py
  tests/test___main__.py
  tests/test_cli.py
  tests/test_command_bdist_appimage.py
  tests/test_command_build.py
  tests/test_command_build_exe.py
  tests/test_command_build_exe_excludes.py
  tests/test_command_install.py
  tests/test_dep_parser.py
  tests/test_executables.py
  tests/test_freezer.py
  tests/test_module.py
  tests/test_windows_manifest.py
  tests/test_winversioninfo.py
Due: none

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

tests: improve handling of timeout usage (#3252)
  tests/conftest.py
  tests/hooks/test_pytz.py
  tests/hooks/test_setuptools.py
  tests/hooks/test_stdlib.py
  tests/hooks/test_streamlit.py
  tests/test___main__.py
  tests/test_cli.py
  tests/test_command_bdist_appimage.py
  tests/test_command_build.py
  tests/test_command_build_exe.py
  tests/test_command_build_exe_excludes.py
  tests/test_command_install.py
  tests/test_dep_parser.py
  tests/test_executables.py
  tests/test_freezer.py
  tests/test_module.py
  tests/test_windows_manifest.py
  tests/test_winversioninfo.py
Due: none

Support for build and tests
  ci/_platform.py
  ci/build-manylinux-test-one.sh
  ci/build-manylinux-tests.sh
  ci/build-test-one.sh
  ci/build-test.json
  ci/build-test.sh
  ci/build-utils.sh
  ci/build_run.py
  ci/build_test.py
  ci/manylinux-build-wheel.sh
  ci/manylinux-create.sh
  ci/manylinux-shared.sh
  ci/screencapture.bat
  ci/screencapture.wine.bat
  ci/screencapture.wine.sh
  ci/test-manylinux-one.sh
Due: shellcheck

Improve the sample getdependentfiles
  samples/dependencies/getdependentfiles.py
  samples/dependencies/test_1.py
Due: none

samples: Add ssl and requests samples
  samples/requests/pyproject.toml
  samples/requests/setup.py
  samples/requests/test_requests.py
  samples/ssl/setup.py
  samples/ssl/test_ssl.py
  samples/sslfix/setup.py
  samples/sslfix/test_sslfix.py
Due: none

Bump version: 8.5.3 → 8.6.0-dev.1769483151 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

chore: support setuptools v81 and v82
  .pre-commit-config.yaml
  cx_Freeze/_compat.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_deb.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/command/bdist_rpm.py
  doc/src/installation.rst
  pyproject.toml
  requirements.txt
  samples/pytz/pyproject.toml
  tests/hooks/test_pytz.py
  tests/hooks/test_zstd.py
  tests/requirements.txt
  tests/test_command_bdist_deb.py
Due: requirements

make tests pass
  tests/hooks/test_numpy.py
Due: none

chore: support setuptools v81 and v82 (#3256)
  .pre-commit-config.yaml
  cx_Freeze/_compat.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_deb.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/command/bdist_rpm.py
  doc/src/installation.rst
  pyproject.toml
  requirements.txt
  samples/pytz/pyproject.toml
  tests/hooks/test_numpy.py
  tests/hooks/test_pytz.py
  tests/hooks/test_zstd.py
  tests/requirements.txt
  tests/test_command_bdist_deb.py
Due: requirements

hooks: improve pytz to work w/ setuptools 82+ in zip mode
  cx_Freeze/hooks/_pytz_.py
  tests/hooks/test_pytz.py
Due: none

hooks: improve pytz to work w/ setuptools 82+ in zip mode (#3257)
  cx_Freeze/hooks/_pytz_.py
  tests/hooks/test_pytz.py
Due: none

chore: improve integration with 'uv'
  .github/workflows/build-wheel.yml
  Makefile
  ci/build-wheel.sh
  ci/install-tools.sh
  ci/requirements.py
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
  requirements-dev.txt
Due: shellcheck, requirements

chore: improve integration with 'uv' (#3258)
  .github/workflows/build-wheel.yml
  Makefile
  ci/build-wheel.sh
  ci/install-tools.sh
  ci/requirements.py
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
  requirements-dev.txt
Due: shellcheck, requirements

chore: switch to prek
  Makefile
  ci/build-wheel.sh
  ci/install-tools.sh
  doc/src/development/index.rst
  pyproject.toml
  requirements-dev.txt
Due: shellcheck, requirements

chore: switch to prek (#3259)
  Makefile
  ci/build-wheel.sh
  ci/install-tools.sh
  doc/src/development/index.rst
  pyproject.toml
  requirements-dev.txt
Due: shellcheck, requirements

chore: add a script to bump-version
  .github/workflows/build-wheel.yml
  Makefile
  ci/bump-version.sh
  ci/install-tools.sh
  doc/requirements.txt
  pyproject.toml
  requirements-dev.txt
Due: shellcheck, requirements

typo
  pyproject.toml
Due: requirements

remove .python-version
  .python-version
Due: none

chore: add a script to bump-version (#3260)
  .github/workflows/build-wheel.yml
  .python-version
  Makefile
  ci/bump-version.sh
  ci/install-tools.sh
  doc/requirements.txt
  pyproject.toml
  requirements-dev.txt
Due: shellcheck, requirements

docs: support for base='gui_dgpu'
  cx_Freeze/cli.py
  cx_Freeze/executable.py
  doc/src/script.rst
  doc/src/setup_script.rst
  pyproject.toml
  requirements.txt
  tests/test_executables.py
Due: requirements

docs: support for base='gui_dgpu' (#3261)
  cx_Freeze/cli.py
  cx_Freeze/executable.py
  doc/src/script.rst
  doc/src/setup_script.rst
  pyproject.toml
  requirements.txt
  tests/test_executables.py
Due: requirements

conda: enable msilib on python 3.14
  .pre-commit-config.yaml
  ci/install-tools.sh
  tests/hooks/test_qt.py
Due: shellcheck

conda: enable msilib on conda python 3.14 on windows (#3262)
  .pre-commit-config.yaml
  ci/install-tools.sh
  tests/hooks/test_qt.py
Due: shellcheck

build(docs): bump sphinx 9.1.0 and switch to sphinx-inline-tabs [ci skip]
  doc/requirements.txt
  doc/src/bdist_appimage.rst
  doc/src/bdist_deb.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/conf.py
  doc/src/installation.rst
  doc/src/setup_script.rst
  doc/src/versions.rst
  pyproject.toml
Due: requirements

build(docs): bump sphinx 9.1.0 and switch to sphinx-inline-tabs [ci skip] (#3263)
  doc/requirements.txt
  doc/src/bdist_appimage.rst
  doc/src/bdist_deb.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/conf.py
  doc/src/installation.rst
  doc/src/setup_script.rst
  doc/src/versions.rst
  pyproject.toml
Due: requirements

chore: prepare to release [ci skip]
  .pre-commit-config.yaml
  CHANGELOG.md
  LICENSE.md
  cx_Freeze/cli.py
  cx_Freeze/winversioninfo.py
  doc/src/bdist_msi.rst
  doc/src/conf.py
  doc/src/releasenotes-7x.rst
  doc/src/releasenotes-8x.rst
  doc/src/releasenotes.rst
  samples/build_constants/pyproject.toml
  samples/msi_binary_data/pyproject.toml
Due: none

chore: prepare to release [ci skip] (#3264)
  .pre-commit-config.yaml
  CHANGELOG.md
  LICENSE.md
  cx_Freeze/cli.py
  cx_Freeze/winversioninfo.py
  doc/src/bdist_msi.rst
  doc/src/conf.py
  doc/src/releasenotes-7x.rst
  doc/src/releasenotes-8x.rst
  doc/src/releasenotes.rst
  samples/build_constants/pyproject.toml
  samples/msi_binary_data/pyproject.toml
Due: none
