Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, license, requirements

.pre-commit-config.yaml:

ci:
  skip: [blacken-docs, build-docs, shellcheck]

exclude: |
  (?x)^(
      cx_Freeze/hooks/_pyqt5_/_resource.py|
      cx_Freeze/hooks/_pyside2_/_resource.py|
      cx_Freeze/hooks/_pyside6_/_resource.py|
      cx_Freeze/importshed/.*.pyi|
      doc/src/conf.py
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        additional_dependencies:
          - validate-pyproject-schema-store[all]>=2024.11.22

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==25.1.0
        args: ["-l", "79"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        args: ["--ignore-words-list=lief,LIEF", "-w", "--skip=*.rtf"]
        exclude: (?x)^(cx_Freeze/hooks/global_names.py)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.0
    hooks:
      - id: clang-format
        args: ["--style=file:source/.clang-format"]
        exclude: |
          (?x)^(source/bases/pythoncapi_compat.h|
                source/legacy/pythoncapi_compat.h
          )$
        types_or: [c, c++]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]

  - repo: local
    hooks:
      - id: shellcheck
        name: shell script analysis tool
        entry: shellcheck
        language: system
        files: ^(.*.sh)$

  - repo: local
    hooks:
      - id: build-docs
        name: build sphinx docs
        language: system
        entry: make -C doc html
        always_run: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: license
        name: license
        language: system
        entry: python ci/license.py
        files: ^(doc/src/license.rst|
          cx_Freeze/initscripts/frozen_application_license.txt
          )$

  - repo: local
    hooks:
      - id: requirements
        name: requirements
        language: system
        entry: python ci/requirements.py
        files: ^(pyproject.toml|requirements.txt|requirements-dev.txt|
          doc/requirements.txt|tests/requirements.txt
          )$

Support for build and tests
  ci/_platform.py
  ci/build-manylinux-test-one.sh
  ci/build-manylinux-tests.sh
  ci/build-test-one.sh
  ci/build-test.json
  ci/build-test.sh
  ci/build-utils.sh
  ci/build_run.py
  ci/build_test.py
  ci/manylinux-build-wheel.sh
  ci/manylinux-create.sh
  ci/manylinux-shared.sh
  ci/screencapture.bat
  ci/screencapture.wine.bat
  ci/screencapture.wine.sh
  ci/test-manylinux-one.sh
Due: shellcheck

Bump version: 8.5.0-dev.0 → 8.5.0-dev.1763797221 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

chore: prepare changelog and release notes [ci skip]
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  doc/src/index.rst
  doc/src/releasenotes.rst
Due: none

chore: prepare changelog and release notes [ci skip] (#3179)
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  doc/src/index.rst
  doc/src/releasenotes.rst
Due: none

Bump version: 8.5.0-dev.0 → 8.5.0 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Bump version: 8.5.0-dev.0 → 8.5.0 [ci skip] (#3180)
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/coverage_html_cb_bcae5fc4.js
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/style_cb_8432e98f.css
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

Revise cx_Freeze details and update version to 8.5.0
  index.html
Due: none

hooks: fix `import scipy.signal`
  cx_Freeze/hooks/_scipy_.py
  tests/hooks/test_scikit.py
Due: none

hooks: fix `import scipy.signal` (#3186)
  cx_Freeze/hooks/_scipy_.py
  tests/hooks/test_scikit.py
Due: none

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

Improve the sample getdependentfiles
  samples/dependencies/getdependentfiles.py
  samples/dependencies/test_1.py
Due: none

samples: Add ssl and requests samples
  samples/requests/pyproject.toml
  samples/requests/setup.py
  samples/requests/test_requests.py
  samples/ssl/setup.py
  samples/ssl/test_ssl.py
  samples/sslfix/setup.py
  samples/sslfix/test_sslfix.py
Due: none

Bump version: 8.5.0 → 8.6.0-dev.1764098796 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

freezer: ignore .c and .cpp while copy package data
  cx_Freeze/freezer.py
Due: none

freezer: ignore .c and .cpp while copy package data
  tests/test_freezer.py
Due: none

freezer: ignore .c and .cpp while copy package data (#3195)
  cx_Freeze/freezer.py
  tests/test_freezer.py
Due: none

Bump version: 8.5.0 → 8.6.0-dev.1765047089 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

[pre-commit.ci] pre-commit autoupdate [ci skip]
  .pre-commit-config.yaml
  pyproject.toml
  tests/requirements.txt
Due: requirements

[pre-commit.ci] pre-commit autoupdate [ci skip] (#3196)
  .pre-commit-config.yaml
  pyproject.toml
  tests/requirements.txt
Due: requirements

hooks: improve scipy hook
  cx_Freeze/hooks/_scipy_.py
  cx_Freeze/hooks/global_names.py
Due: none

hooks: improve scipy hook (#3197)
  cx_Freeze/hooks/_scipy_.py
  cx_Freeze/hooks/global_names.py
Due: none

fix: document changes to Executable.base option
  cx_Freeze/executable.py
  doc/src/script.rst
  doc/src/setup_script.rst
  tests/hooks/test_scikit.py
  tests/test_executables.py
Due: none

fix tests
  cx_Freeze/executable.py
  tests/test_executables.py
Due: none

fix: document changes to Executable.base option (#3201)
  cx_Freeze/executable.py
  doc/src/script.rst
  doc/src/setup_script.rst
  tests/hooks/test_scikit.py
  tests/test_executables.py
Due: none
