Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

license:
  name: license
  language: system
  entry: python ci/license.py

requirements:
  name: requirements
  language: system
  entry: python ci/requirements.py

pylint:
  name: pylint
  entry: pylint
  language: system

blacken-docs
  .pre-commit-config.yaml
Due: none

build-wheel: fix workflow warnings
  .github/workflows/build-wheel.yml
Due: none

build-wheel: fix update_bases' ref and cleanup publish
  .github/workflows/build-wheel.yml
Due: none

build-wheel: fix update_bases' ref and cleanup publish (#2176)
  .github/workflows/build-wheel.yml
Due: none

BLACKEN
  .pre-commit-config.yaml
Due: none

bdist_appimage: build Linux AppImage format [new feature]
  cx_Freeze/__init__.py
  cx_Freeze/command/bdist_appimage.py
Due: pylint

make it to work on docker and parallel tests
  cx_Freeze/command/bdist_appimage.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements, pylint

add tests and fix icons
  cx_Freeze/command/bdist_appimage.py
  tests/test_command_bdist_appimage.py
Due: pylint

use pytest.skip at module level to skip early
  tests/test_command_bdist_appimage.py
  tests/test_command_bdist_deb.py
Due: pylint

update the faq single executable
  doc/src/faq.rst
  doc/src/setup_script.rst
Due: none

add documentation
  doc/src/setup_script.rst
Due: none

more tests
  tests/test_command_bdist_appimage.py
Due: pylint

fix tests
  tests/test_command_bdist_appimage.py
Due: pylint

minor tweaks
  cx_Freeze/command/bdist_appimage.py
  tests/test___init__.py
Due: pylint

fix options
  cx_Freeze/command/bdist_appimage.py
Due: pylint

fix test
  tests/test_command_bdist_appimage.py
Due: pylint

bdist_appimage: build Linux AppImage format [new feature] (#2050)
  cx_Freeze/__init__.py
  cx_Freeze/command/bdist_appimage.py
  doc/src/faq.rst
  doc/src/setup_script.rst
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test___init__.py
  tests/test_command_bdist_appimage.py
  tests/test_command_bdist_deb.py
Due: requirements, pylint

setup script: extend executables keyword to support more types
  cx_Freeze/executable.py
  cx_Freeze/freezer.py
Due: pylint

add tests and adapt 2 samples
  samples/simple_pyproject/setup.py
  samples/simple_setup_cfg/setup.py
  tests/test_command_build_exe.py
  tests/test_executables.py
Due: pylint

include basic doc about changes in executables keyword
  doc/src/keywords.rst
  doc/src/setup_script.rst
Due: none

setup script: extend executables keyword to support more types (#2182)
  cx_Freeze/executable.py
  cx_Freeze/freezer.py
  doc/src/keywords.rst
  doc/src/setup_script.rst
  samples/simple_pyproject/setup.py
  samples/simple_setup_cfg/setup.py
  tests/test_command_build_exe.py
  tests/test_executables.py
Due: pylint

Fix memory leaks and other types of leaks
  source/bases/Win32Service.c
Due: none

setup script: pre-defined values for base are valid in all OS
  cx_Freeze/cli.py
  cx_Freeze/executable.py
  cx_Freeze/setupwriter.py
  doc/src/faq.rst
  doc/src/script.rst
  doc/src/setup_script.rst
Due: pylint

update samples to use base="gui"
  samples/matplotlib/setup.py
  samples/matplotlib/setup_zip.py
  samples/matplotlib_tk/setup.py
  samples/matplotlib_tk/setup_zip.py
  samples/opencv/setup.py
  samples/pyqt5-simplebrowser/setup.py
  samples/pyqt5/setup.py
  samples/pyqt6-simplebrowser/setup.py
  samples/pyqt6/setup.py
  samples/pyside2-simplebrowser/setup.py
  samples/pyside2/setup.py
  samples/pyside6-simplebrowser/setup.py
  samples/pyside6/setup.py
  samples/pythonnet-demo/setup.py
  samples/tkinter/setup.py
  samples/wx/setup.py
Due: pylint

add tests
  cx_Freeze/executable.py
  tests/test_executables.py
Due: pylint

improve tests
  tests/test_executables.py
Due: pylint

setup script: pre-defined values for base are valid in all OS (#2184)
  cx_Freeze/cli.py
  cx_Freeze/executable.py
  cx_Freeze/setupwriter.py
  doc/src/faq.rst
  doc/src/script.rst
  doc/src/setup_script.rst
  samples/matplotlib/setup.py
  samples/matplotlib/setup_zip.py
  samples/matplotlib_tk/setup.py
  samples/matplotlib_tk/setup_zip.py
  samples/opencv/setup.py
  samples/pyqt5-simplebrowser/setup.py
  samples/pyqt5/setup.py
  samples/pyqt6-simplebrowser/setup.py
  samples/pyqt6/setup.py
  samples/pyside2-simplebrowser/setup.py
  samples/pyside2/setup.py
  samples/pyside6-simplebrowser/setup.py
  samples/pyside6/setup.py
  samples/pythonnet-demo/setup.py
  samples/tkinter/setup.py
  samples/wx/setup.py
  tests/test_executables.py
Due: pylint

cx_Freeze 6.15.12
  index.html
Due: none

setup script: add extension to executable icon valid to the OS
  cx_Freeze/cli.py
  cx_Freeze/executable.py
  doc/src/script.rst
  doc/src/setup_script.rst
Due: pylint

add .svg
  cx_Freeze/cli.py
  cx_Freeze/executable.py
  cx_Freeze/freezer.py
  doc/src/script.rst
  doc/src/setup_script.rst
  samples/manifest/setup.py
  samples/tkinter/setup.py
  tests/test_executables.py
Due: pylint

tkinter sample also is a icon sample
  samples/icon/README.md
  samples/icon/icon.ico
  samples/icon/icon.png
  samples/icon/setup.py
  samples/icon/test_icon.py
  samples/tkinter/python.icns
  samples/tkinter/python.ico
  samples/tkinter/python.png
Due: pylint

tests
  tests/test_executables.py
Due: pylint

test fixes
  tests/test_command_bdist_appimage.py
Due: pylint

test not found icon
  tests/test_executables.py
Due: pylint

setup script: add an extension to executable icon that is valid across OS (#2185)
  cx_Freeze/cli.py
  cx_Freeze/executable.py
  cx_Freeze/freezer.py
  doc/src/script.rst
  doc/src/setup_script.rst
  samples/icon/README.md
  samples/icon/icon.ico
  samples/icon/icon.png
  samples/icon/setup.py
  samples/icon/test_icon.py
  samples/manifest/setup.py
  samples/tkinter/python.icns
  samples/tkinter/python.ico
  samples/tkinter/python.png
  samples/tkinter/setup.py
  tests/test_command_bdist_appimage.py
  tests/test_executables.py
Due: pylint

tests: simplify test using a run_command
  tests/generate_samples.py
  tests/test_command_bdist_msi.py
  tests/test_command_bdist_rpm.py
  tests/test_command_build.py
  tests/test_command_build_exe.py
  tests/test_hooks_stdlib.py
  tests/test_multiprocessing.py
  tests/test_plist_items.py
  tests/test_windows_manifest.py
Due: pylint

fix typo
  tests/generate_samples.py
Due: pylint

tests: simplify test using a run_command (#2187)
  tests/generate_samples.py
  tests/test_command_bdist_msi.py
  tests/test_command_bdist_rpm.py
  tests/test_command_build.py
  tests/test_command_build_exe.py
  tests/test_hooks_stdlib.py
  tests/test_multiprocessing.py
  tests/test_plist_items.py
  tests/test_windows_manifest.py
Due: pylint

tests: simplify more tests using run_command
  tests/test_command_bdist_appimage.py
  tests/test_command_bdist_deb.py
  tests/test_executables.py
Due: pylint

Path conditions:
  license: any of: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

  requirements: any of: ^(pyproject.toml|requirements.*.txt)$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

  pylint: any of: \.py$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

