Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

.pre-commit-config.yaml:

ci:
    skip: [build-docs, license, pylint]

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/pyqt5/resource.py|
        cx_Freeze/hooks/pyside2/resource.py|
        cx_Freeze/hooks/pyside6/resource.py
    )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ["--remove"]
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: trailing-whitespace

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.13
  hooks:
  - id: validate-pyproject

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.281
  hooks:
  - id: ruff
    args: ["--fix"]

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: 1.15.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.7.0]
    args: ["-l", "79"]

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: sphinx-build -M html doc/src build/doc -d build/doc/.doctrees -j auto
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.*.txt)$

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]

finder: scan code detect packages using import call
  cx_Freeze/finder.py
Due: pylint

finder: improve scan code to detect packages using import call (#1966)
  cx_Freeze/finder.py
  tests/generate_samples.py
  tests/test_modulefinder.py
Due: pylint

hooks: add markdown (#1997)
  cx_Freeze/hooks/__init__.py
Due: pylint

finder: cache_path holds where distribution data is saved
  cx_Freeze/common.py
  cx_Freeze/exception.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/cv2.py
  cx_Freeze/module.py
  cx_Freeze/parser.py
Due: pylint

finder: cache_path holds where distribution data is saved (#2003)
  cx_Freeze/common.py
  cx_Freeze/exception.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/cv2.py
  cx_Freeze/module.py
  cx_Freeze/parser.py
Due: pylint

chore: new internal _typing module
  cx_Freeze/_typing.py
  cx_Freeze/common.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
Due: pylint

chore: new internal _typing module (#2004)
  cx_Freeze/_typing.py
  cx_Freeze/common.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
Due: pylint

module: propagate cache_path from the finder
  cx_Freeze/finder.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/cv2.py
  cx_Freeze/module.py
Due: pylint

module: propagate cache_path from the finder (#2005)
  cx_Freeze/finder.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/cv2.py
  cx_Freeze/module.py
Due: pylint

module: get the implicit imports of extensions in a stub file
  cx_Freeze/finder.py
  cx_Freeze/module.py
Due: pylint

module: get the implicit imports of extensions in a stub file (#2006)
  cx_Freeze/finder.py
  cx_Freeze/module.py
Due: pylint

hooks: qt extension modules are detected using stubs
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyside2/__init__.py
  cx_Freeze/hooks/pyside6/__init__.py
Due: pylint

hooks: qt extension modules are detected using stubs (#2009)
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyside2/__init__.py
  cx_Freeze/hooks/pyside6/__init__.py
Due: pylint

module: search for the stub file already parsed in the distribution
  cx_Freeze/module.py
Due: pylint

module: search for the stub file already parsed in the distribution (#2013)
  cx_Freeze/module.py
Due: pylint

build(deps-dev): update pre-commit and doc dependencies
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
Due: requirements

update the related doc
  doc/src/development/index.rst
  doc/src/installation.rst
Due: none

build(deps-dev): update pre-commit and doc dependencies (#2014)
  .pre-commit-config.yaml
  doc/src/development/index.rst
  doc/src/installation.rst
  pyproject.toml
  requirements-dev.txt
Due: requirements

doc: furo can be used only on html build
  .pre-commit-config.yaml
  .readthedocs.yaml
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

doc: furo can be used only on html build (#2015)
  .pre-commit-config.yaml
  .readthedocs.yaml
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

hooks: improve tz hooks a bit for use in zip
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/backports.py
  cx_Freeze/hooks/pytz.py
  cx_Freeze/hooks/zoneinfo.py
Due: pylint

hooks: improve tzdata/zoneinfo/pytz hooks a bit for use in zip (#2018)
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/backports.py
  cx_Freeze/hooks/pytz.py
  cx_Freeze/hooks/zoneinfo.py
Due: pylint

hooks: use module.exclude_names to filter missing modules
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/_unused_modules.py
  cx_Freeze/hooks/asyncio.py
  cx_Freeze/hooks/backports.py
  cx_Freeze/hooks/clr.py
  cx_Freeze/hooks/crypto.py
  cx_Freeze/hooks/cv2.py
  cx_Freeze/hooks/glib.py
  cx_Freeze/hooks/importlib.py
  cx_Freeze/hooks/matplotlib.py
  cx_Freeze/hooks/multiprocessing.py
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/pil.py
  cx_Freeze/hooks/pkg_resources.py
  cx_Freeze/hooks/pyside6/__init__.py
  cx_Freeze/hooks/pytz.py
  cx_Freeze/hooks/scipy.py
  cx_Freeze/hooks/setuptools.py
  cx_Freeze/hooks/skimage.py
  cx_Freeze/hooks/sklearn.py
  cx_Freeze/hooks/ssl.py
  cx_Freeze/hooks/tkinter.py
  cx_Freeze/hooks/torch.py
  cx_Freeze/hooks/xlib.py
  cx_Freeze/module.py
Due: pylint

hooks: use module.exclude_names to filter missing modules (#2019)
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/_unused_modules.py
  cx_Freeze/hooks/asyncio.py
  cx_Freeze/hooks/backports.py
  cx_Freeze/hooks/clr.py
  cx_Freeze/hooks/crypto.py
  cx_Freeze/hooks/cv2.py
  cx_Freeze/hooks/glib.py
  cx_Freeze/hooks/importlib.py
  cx_Freeze/hooks/matplotlib.py
  cx_Freeze/hooks/multiprocessing.py
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/pil.py
  cx_Freeze/hooks/pkg_resources.py
  cx_Freeze/hooks/pyside6/__init__.py
  cx_Freeze/hooks/pytz.py
  cx_Freeze/hooks/scipy.py
  cx_Freeze/hooks/setuptools.py
  cx_Freeze/hooks/skimage.py
  cx_Freeze/hooks/sklearn.py
  cx_Freeze/hooks/ssl.py
  cx_Freeze/hooks/tkinter.py
  cx_Freeze/hooks/torch.py
  cx_Freeze/hooks/xlib.py
  cx_Freeze/module.py
Due: pylint

build-wheel: add support for ppc64le binary wheels
  .github/workflows/build-wheel.yml
  pyproject.toml
Due: requirements

build-wheel: add support for ppc64le binary wheels for py310+ (#2020)
  .github/workflows/build-wheel.yml
  pyproject.toml
Due: requirements

Bump version: 6.15.5 → 6.15.6
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

hooks: pycryptomex
  cx_Freeze/hooks/crypto.py
  cx_Freeze/hooks/cryptodome.py
  cx_Freeze/module.py
Due: pylint

sample
  cx_Freeze/hooks/cryptodome.py
  samples/crypto/README.md
  samples/crypto/setup.py
  samples/crypto/test_crypto.py
Due: pylint

hooks: add pycryptodomex and update pycryptodome (#2022)
  cx_Freeze/hooks/crypto.py
  cx_Freeze/hooks/cryptodome.py
  cx_Freeze/module.py
  samples/crypto/README.md
  samples/crypto/setup.py
  samples/crypto/test_crypto.py
Due: pylint

cleanup
  cx_Freeze/command/bdist_mac.py
Due: pylint

Split out verify_signature
  cx_Freeze/command/bdist_mac.py
Due: pylint

Force signing
  cx_Freeze/command/bdist_mac.py
Due: pylint

Added string cast
  cx_Freeze/command/bdist_mac.py
Due: pylint

WIP reimplementation of code sign
  cx_Freeze/command/bdist_mac.py
Due: pylint
