Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements

.pre-commit-config.yaml:

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/pyside2/resource.py|
        cx_Freeze/hooks/pyside6/resource.py|
        tests/samples/invalid_syntax.py|
        tests/samples/testpkg1/.*.py
    )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: ["--py37-plus"]

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==22.12.0]
    args: ["-l", "79"]

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.10.1
  hooks:
  - id: validate-pyproject

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/PyCQA/pylint
  rev: v2.15.8
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: sphinx-build -M html doc/src build/doc -d build/doc/.doctrees -j auto
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.*.txt)$

windows: fix error using CX_FREEZE_STAMP=pywin32
  cx_Freeze/winversioninfo.py
Due: none

windows: fix error using CX_FREEZE_STAMP=pywin32 (#1773)
  cx_Freeze/winversioninfo.py
Due: none

Bump version: 6.14.1 → 6.14.2
  .bumpversion.cfg
  Makefile
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Upgrade pre-commit tools
  .pre-commit-config.yaml
  Makefile
  ci/license.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/freezer.py
  cx_Freeze/initscripts/sharedlibsource.py
  samples/advanced/advanced_1.py
  samples/advanced/advanced_2.py
  samples/asmodule/asmodule.py
  samples/build_constants/hello.py
  samples/importlib/web_srv.py
  samples/importlib/wsgiserver.py
  samples/msi_binary_data/hello.py
  samples/msi_extensions/hello.py
  samples/msi_summary_data/hello.py
  samples/service-asyncio/ServiceHandler.py
  samples/service/ServiceHandler.py
  samples/simple/hello.py
  samples/simple_pyproject/hello.py
  samples/simple_setup_cfg/hello.py
  samples/zope/qotd.py
  tests/samples/find_spec/hello.py
Due: none

Upgrade pre-commit tools (#1774)
  .pre-commit-config.yaml
  Makefile
  ci/license.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/freezer.py
  cx_Freeze/initscripts/sharedlibsource.py
  samples/advanced/advanced_1.py
  samples/advanced/advanced_2.py
  samples/asmodule/asmodule.py
  samples/build_constants/hello.py
  samples/importlib/web_srv.py
  samples/importlib/wsgiserver.py
  samples/msi_binary_data/hello.py
  samples/msi_extensions/hello.py
  samples/msi_summary_data/hello.py
  samples/service-asyncio/ServiceHandler.py
  samples/service/ServiceHandler.py
  samples/simple/hello.py
  samples/simple_pyproject/hello.py
  samples/simple_setup_cfg/hello.py
  samples/zope/qotd.py
  tests/samples/find_spec/hello.py
Due: none

hooks: fix sqlite3 hook in python embed (#1707)
  cx_Freeze/hooks/__init__.py
Due: none

hooks: Add sklearn hook (#1715)
  cx_Freeze/hooks/__init__.py
Due: none

hooks: Update scipy hook (#1716)
  .pre-commit-config.yaml
  cx_Freeze/hooks/scipy.py
Due: none

hooks: Add shapely (#1725)
  cx_Freeze/hooks/__init__.py
Due: none

Update copyright year (#1749)
  cx_Freeze/cli.py
  cx_Freeze/winversioninfo.py
  doc/src/conf.py
  doc/src/license.rst
  doc/src/setup_script.rst
Due: license

install: run() method needs to exist (#1747)
  cx_Freeze/command/install.py
Due: none

hooks: Add pytorch (#1720)
  cx_Freeze/hooks/__init__.py
Due: none

hooks: Add charset_normalizer (#1758)
  cx_Freeze/hooks/__init__.py
Due: none

windows: fix file version with four elements (#1772)
  cx_Freeze/winversioninfo.py
Due: none

Declare support for setuptools 67.x
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

windows: put all msvcr dlls in build_exe top directory
  cx_Freeze/freezer.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/winmsvcr.py
  tests/test_winmsvcr.py
Due: none

windows: put all msvcr dlls in build_exe top directory (#1780)
  cx_Freeze/freezer.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/winmsvcr.py
  tests/test_winmsvcr.py
Due: none

zipfile does not support pathlib until python 3.6.2
  cx_Freeze/freezer.py
Due: none

Use bump2version tag_name (#1769)
  .bumpversion.cfg
  Makefile
Due: none

Bump version: 6.13.1 → 6.13.2
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
Due: none

Bump version: 6.14.2 → 6.14.3
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

freezer: fix importerror when using 'path' option
  cx_Freeze/command/build_exe.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  doc/src/setup_script.rst
  samples/sqlite/setup.py
Due: none

freezer: fix importerror when using 'path' option (#1785)
  cx_Freeze/command/build_exe.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  doc/src/setup_script.rst
  samples/sqlite/setup.py
Due: none

Bump version: 6.14.3 → 6.14.4
  .bumpversion.cfg
  Makefile
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

freezer: pylint ready
  cx_Freeze/cli.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  pyproject.toml
  tests/test_winversioninfo.py
Due: requirements

Bump version: 6.14.4 → 6.15.0-dev0
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

freezer: pylint ready (#1781)
  cx_Freeze/cli.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  pyproject.toml
  tests/test_winversioninfo.py
Due: requirements

Declare support for setuptools 67.x (#1782)
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

hooks: split more hooks in a separate module
  .pre-commit-config.yaml
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/clr.py
  cx_Freeze/hooks/glib.py
  cx_Freeze/hooks/matplotlib.py
  cx_Freeze/hooks/pytz.py
  cx_Freeze/hooks/skimage.py
  cx_Freeze/hooks/tkinter.py
  cx_Freeze/hooks/xlib.py
Due: none

hooks: split more hooks in a separate module (#1790)
  .pre-commit-config.yaml
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/clr.py
  cx_Freeze/hooks/glib.py
  cx_Freeze/hooks/matplotlib.py
  cx_Freeze/hooks/pytz.py
  cx_Freeze/hooks/skimage.py
  cx_Freeze/hooks/tkinter.py
  cx_Freeze/hooks/xlib.py
Due: none

hooks: add suport for matplotlib 3.7
  cx_Freeze/hooks/matplotlib.py
Due: none

dependabot: add package-ecosystem for pip
  .github/dependabot.yml
Due: none

Check that parent directory exists before writing to file
  cx_Freeze/freezer.py
Due: none

dependabot: add package-ecosystem for pip (#1792)
  .github/dependabot.yml
Due: none

Update freezer.py
  cx_Freeze/freezer.py
Due: none
