Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

.pre-commit-config.yaml:

ci:
    skip: [build-docs, license, pylint]

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/pyqt5/resource.py|
        cx_Freeze/hooks/pyside2/resource.py|
        cx_Freeze/hooks/pyside6/resource.py
    )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ["--remove"]
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: trailing-whitespace

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.13
  hooks:
  - id: validate-pyproject

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.281
  hooks:
  - id: ruff
    args: ["--fix"]

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: 1.15.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.7.0]
    args: ["-l", "79"]

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: sphinx-build -M html doc/src build/doc -d build/doc/.doctrees -j auto
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.*.txt)$

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]

bdist_mac: fix duplicate lib in bdist_dmg [regression] (#2037)
  cx_Freeze/command/bdist_mac.py
Due: pylint

fix imports
  cx_Freeze/command/bdist_mac.py
Due: pylint

bdist_mac: small optimization on copy tree (#2040)
  cx_Freeze/command/bdist_mac.py
Due: pylint

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

samples: small tweaks to demonstrate independent options
  samples/icon/icon.png
  samples/icon/setup.py
  samples/manifest/README.md
  samples/manifest/icon.ico
  samples/manifest/icon.png
  samples/manifest/setup.py
  samples/manifest/test_manifest.py
  samples/replace/setup.py
  samples/replace/test_replace.py
  samples/simple/hello.py
  samples/tkinter/logox128.png
  samples/tkinter/setup.py
  samples/tkinter/test_tkinter.py
Due: pylint

samples: small tweaks to demonstrate independent options (#2045)
  samples/icon/icon.png
  samples/icon/setup.py
  samples/manifest/README.md
  samples/manifest/icon.ico
  samples/manifest/icon.png
  samples/manifest/setup.py
  samples/manifest/test_manifest.py
  samples/replace/setup.py
  samples/replace/test_replace.py
  samples/simple/hello.py
  samples/tkinter/logox128.png
  samples/tkinter/setup.py
  samples/tkinter/test_tkinter.py
Due: pylint

Revert "build(deps): bump codecov/codecov-action from 3 to 4 (#2047)"
  .github/workflows/ci.yml
Due: none

Revert "build(deps): bump codecov/codecov-action from 3 to 4" (#2049)
  .github/workflows/ci.yml
Due: none

icons: add Python icons
  MANIFEST.in
  cx_Freeze/icons/__init__.py
  cx_Freeze/icons/launcher.icns
  cx_Freeze/icons/launcher.ico
  cx_Freeze/icons/launcher.svg
  cx_Freeze/icons/logo.svg
  cx_Freeze/icons/logox128.png
  cx_Freeze/icons/py.icns
  cx_Freeze/icons/py.ico
  cx_Freeze/icons/py.png
  cx_Freeze/icons/py.svg
  cx_Freeze/icons/pyc.icns
  cx_Freeze/icons/pyc.ico
  cx_Freeze/icons/pyc.svg
  cx_Freeze/icons/pyd.icns
  cx_Freeze/icons/pyd.ico
  cx_Freeze/icons/pyd.svg
  cx_Freeze/icons/python.icns
  cx_Freeze/icons/python.ico
  cx_Freeze/icons/python.svg
  cx_Freeze/icons/pythonw.icns
  cx_Freeze/icons/pythonw.ico
  cx_Freeze/icons/pythonw.svg
  cx_Freeze/icons/pythonwx150.png
  cx_Freeze/icons/pythonwx44.png
  cx_Freeze/icons/pythonx150.png
  cx_Freeze/icons/pythonx44.png
  cx_Freeze/icons/pythonx50.png
  cx_Freeze/icons/setup.icns
  cx_Freeze/icons/setup.ico
  cx_Freeze/icons/setup.svg
Due: pylint

"Bump version: 6.16.0-dev6 → 6.16.0-dev7 [ci skip]"
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

icons: add Python icons (#2051)
  MANIFEST.in
  cx_Freeze/icons/__init__.py
  cx_Freeze/icons/launcher.icns
  cx_Freeze/icons/launcher.ico
  cx_Freeze/icons/launcher.svg
  cx_Freeze/icons/logo.svg
  cx_Freeze/icons/logox128.png
  cx_Freeze/icons/py.icns
  cx_Freeze/icons/py.ico
  cx_Freeze/icons/py.png
  cx_Freeze/icons/py.svg
  cx_Freeze/icons/pyc.icns
  cx_Freeze/icons/pyc.ico
  cx_Freeze/icons/pyc.svg
  cx_Freeze/icons/pyd.icns
  cx_Freeze/icons/pyd.ico
  cx_Freeze/icons/pyd.svg
  cx_Freeze/icons/python.icns
  cx_Freeze/icons/python.ico
  cx_Freeze/icons/python.svg
  cx_Freeze/icons/pythonw.icns
  cx_Freeze/icons/pythonw.ico
  cx_Freeze/icons/pythonw.svg
  cx_Freeze/icons/pythonwx150.png
  cx_Freeze/icons/pythonwx44.png
  cx_Freeze/icons/pythonx150.png
  cx_Freeze/icons/pythonx44.png
  cx_Freeze/icons/pythonx50.png
  cx_Freeze/icons/setup.icns
  cx_Freeze/icons/setup.ico
  cx_Freeze/icons/setup.svg
Due: pylint

"Bump version: 6.16.0-dev6 → 6.16.0-dev7 [ci skip]" (#2052)
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

hooks: add RNS (Reticulum)
  cx_Freeze/hooks/rns.py
Due: pylint

fix scipy dylibs too
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/scipy.py
Due: pylint

hooks: fix numpy dylibs are included twice
  cx_Freeze/hooks/numpy.py
Due: pylint

improve the sample to better test numpy
  samples/pandas/test_pandas.py
Due: pylint

bdist_mac: Copy build_exe to Resources and move executables to MacOS
  cx_Freeze/command/bdist_mac.py
Due: pylint

hooks: fix numpy/scipy dylibs are included twice (#2038)
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/scipy.py
  samples/pandas/test_pandas.py
Due: pylint

bdist_mac: Copy build_exe to Resources and move executables to MacOS (#2048)
  cx_Freeze/command/bdist_mac.py
Due: pylint

hooks: add RNS (Reticulum) (#2053)
  cx_Freeze/hooks/rns.py
Due: pylint

hooks: fix numpy/scipy regression [mingw]
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/scipy.py
Due: pylint

hooks: fix numpy/scipy regression [mingw] (#2057)
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/scipy.py
Due: pylint

hooks: add numpy 1.26
  cx_Freeze/hooks/_libs.py
  cx_Freeze/hooks/numpy.py
Due: pylint

hooks: add numpy 1.26 (#2058)
  cx_Freeze/hooks/_libs.py
  cx_Freeze/hooks/numpy.py
Due: pylint

hooks: fix scipy windows
  cx_Freeze/hooks/scipy.py
Due: pylint

doc: improve documentation for 'binary wheels'
  doc/src/development/index.rst
Due: none

doc: improve documentation for 'binary wheels' (#2059)
  doc/src/development/index.rst
Due: none

hooks: fix scipy windows (#2060)
  cx_Freeze/hooks/scipy.py
Due: pylint

build_exe: fix typo in command line boolean option 'include-msvcr'
  cx_Freeze/command/build_exe.py
  tests/test_command_build_exe.py
Due: pylint

build_exe: fix typo in command line boolean option 'include-msvcr' (#2062)
  cx_Freeze/command/build_exe.py
  tests/test_command_build_exe.py
Due: pylint
