Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, license, requirements

shellcheck:
  name: shell script analysis tool
  entry: shellcheck
  language: system

license:
  name: license
  language: system
  entry: python ci/license.py

requirements:
  name: requirements
  language: system
  entry: python ci/requirements.py

bdist_appimage: add suport for 'gui' app in desktop file (#3133)
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/executable.py
  tests/test_command_bdist_appimage.py
  tests/test_executables.py
Due: none

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

Support for build and tests
  ci/_platform.py
  ci/build-manylinux-test-one.sh
  ci/build-manylinux-tests.sh
  ci/build-test-one.sh
  ci/build-test.json
  ci/build-test.sh
  ci/build-utils.sh
  ci/build_run.py
  ci/build_test.py
  ci/manylinux-build-wheel.sh
  ci/manylinux-create.sh
  ci/manylinux-shared.sh
  ci/screencapture.bat
  ci/screencapture.wine.bat
  ci/screencapture.wine.sh
  ci/test-manylinux-one.sh
Due: shellcheck

Improve the sample getdependentfiles
  samples/dependencies/getdependentfiles.py
  samples/dependencies/test_1.py
Due: none

samples: Add ssl and requests samples
  samples/requests/pyproject.toml
  samples/requests/setup.py
  samples/requests/test_requests.py
  samples/ssl/setup.py
  samples/ssl/test_ssl.py
  samples/sslfix/setup.py
  samples/sslfix/test_sslfix.py
Due: none

Bump version: 8.5.0-dev.0 → 8.5.0-dev.1760770063 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

bdist_appimage: minor revison and fixes
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/executable.py
  tests/test_command_bdist_appimage.py
Due: none

typo
  cx_Freeze/executable.py
Due: none

bdist_appimage: minor revison and fixes (#3134)
  cx_Freeze/command/bdist_appimage.py
  tests/test_command_bdist_appimage.py
Due: none

chore: drop Python 3.9 support
  .pre-commit-config.yaml
  .python-version
  CHANGELOG.md
  cx_Freeze/_typing.py
  cx_Freeze/finder.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_importlib_.py
  cx_Freeze/hooks/_jaraco_.py
  cx_Freeze/hooks/_mkl_.py
  cx_Freeze/hooks/_shapely_.py
  doc/src/faq.rst
  doc/src/index.rst
  doc/src/installation.rst
  doc/src/versions.rst
  pyproject.toml
  requirements.txt
  samples/pydantic/test_pydantic.py
  tests/hooks/test_numpy.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_scikit.py
  tests/test_executables.py
  tests/test_modulefinder.py
Due: requirements

test on py 3.10+ now
  .github/workflows/ci.yml
  cx_Freeze/hooks/global_names.py
Due: none

chore: drop Python 3.9 support (#3135)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  CHANGELOG.md
  cx_Freeze/_typing.py
  cx_Freeze/finder.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_importlib_.py
  cx_Freeze/hooks/_jaraco_.py
  cx_Freeze/hooks/_mkl_.py
  cx_Freeze/hooks/_shapely_.py
  cx_Freeze/hooks/global_names.py
  doc/src/faq.rst
  doc/src/index.rst
  doc/src/installation.rst
  doc/src/versions.rst
  pyproject.toml
  requirements.txt
  samples/pydantic/test_pydantic.py
  tests/hooks/test_numpy.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_scikit.py
  tests/test_executables.py
  tests/test_modulefinder.py
Due: requirements

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

chore: small review of the documentation [ci skip]
  cx_Freeze/command/bdist_dmg.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/darwintools.py
  cx_Freeze/dep_parser.py
  doc/src/bdist_appimage.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/builtdist.rst
  doc/src/faq.rst
  doc/src/index.rst
  doc/src/installation.rst
  doc/src/overview.rst
  doc/src/script.rst
  doc/src/setup_script.rst
Due: none

chore: small review of the documentation [ci skip] (#3137)
  cx_Freeze/command/bdist_dmg.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/darwintools.py
  cx_Freeze/dep_parser.py
  doc/src/bdist_appimage.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/builtdist.rst
  doc/src/faq.rst
  doc/src/index.rst
  doc/src/installation.rst
  doc/src/overview.rst
  doc/src/script.rst
  doc/src/setup_script.rst
Due: none

bdist_appimage: add `sign` and `sign-key` options
  cx_Freeze/command/bdist_appimage.py
  doc/src/bdist_appimage.rst
Due: none

bdist_appimage: add `sign` and `sign-key` options (#3138)
  cx_Freeze/command/bdist_appimage.py
  doc/src/bdist_appimage.rst
Due: none

tests: fix tests on arm64
  cx_Freeze/hooks/_pyarrow_.py
  samples/pandas/pyproject.toml
  tests/hooks/test_crypto.py
  tests/hooks/test_numpy.py
  tests/hooks/test_pyarrow.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_scikit.py
  tests/test_executables.py
Due: none

tests: fix tests on arm64 (#3142)
  cx_Freeze/hooks/_pyarrow_.py
  samples/pandas/pyproject.toml
  tests/hooks/test_crypto.py
  tests/hooks/test_numpy.py
  tests/hooks/test_pyarrow.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_scikit.py
  tests/test_executables.py
Due: none

build(deps): update lief requirement from <=0.16.6,>=0.15.1 to >=0.15.1,<=0.17.1
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
Due: requirements

build(deps): update lief requirement from <=0.16.6,>=0.15.1 to >=0.15.1,<=0.17.1 (#3141)
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
Due: requirements

Update finder.py
  cx_Freeze/finder.py
Due: none

finder: optimized implementation of '_find_editable_spec' (#3147)
  cx_Freeze/finder.py
Due: none

bdist_msi: fix initial_target_dir on Windows ARM64-based machines
  cx_Freeze/command/bdist_msi.py
Due: none

improve tests
  cx_Freeze/command/bdist_msi.py
  tests/test_command_bdist_msi.py
Due: none

Bump python-msilib 0.4.0
  pyproject.toml
  requirements.txt
Due: requirements

bdist_msi: fix support on Windows ARM64-based machines
  cx_Freeze/command/bdist_msi.py
  pyproject.toml
  requirements.txt
  tests/test_command_bdist_msi.py
Due: requirements

Path conditions:
  shellcheck: any of: ^(.*.sh)$, but not: (?x)^(
    cx_Freeze/hooks/_pyqt5_/_resource.py|
    cx_Freeze/hooks/_pyside2_/_resource.py|
    cx_Freeze/hooks/_pyside6_/_resource.py|
    cx_Freeze/importshed/.*.pyi|
    doc/src/conf.py
)$

  license: any of: ^(doc/src/license.rst| cx_Freeze/initscripts/frozen_application_license.txt )$, but not: (?x)^(
    cx_Freeze/hooks/_pyqt5_/_resource.py|
    cx_Freeze/hooks/_pyside2_/_resource.py|
    cx_Freeze/hooks/_pyside6_/_resource.py|
    cx_Freeze/importshed/.*.pyi|
    doc/src/conf.py
)$

  requirements: any of: ^(pyproject.toml|requirements.txt|requirements-dev.txt| doc/requirements.txt|tests/requirements.txt )$, but not: (?x)^(
    cx_Freeze/hooks/_pyqt5_/_resource.py|
    cx_Freeze/hooks/_pyside2_/_resource.py|
    cx_Freeze/hooks/_pyside6_/_resource.py|
    cx_Freeze/importshed/.*.pyi|
    doc/src/conf.py
)$

