Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, license, requirements

shellcheck:
  name: shell script analysis tool
  entry: shellcheck
  language: system

license:
  name: license
  language: system
  entry: python ci/license.py

requirements:
  name: requirements
  language: system
  entry: python ci/requirements.py

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

tests: fix tests using rasterio 1.4.4
  .pre-commit-config.yaml
  tests/hooks/test_numpy.py
  tests/hooks/test_zstd.py
Due: none

rasterio 1.4.4 fails in macOS using zipfile
  tests/hooks/test_numpy.py
Due: none

tests: fix tests using rasterio 1.4.4 (#3204)
  .pre-commit-config.yaml
  tests/hooks/test_numpy.py
  tests/hooks/test_zstd.py
Due: none

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/style_cb_a5a05ca4.css
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

tests: fix tests on windows arm64 [ci skip]
  cx_Freeze/freezer.py
  tests/test_executables.py
  tests/test_freezer.py
Due: none

tests: fix tests on windows arm64 [ci skip] (#3205)
  cx_Freeze/freezer.py
  tests/test_executables.py
  tests/test_freezer.py
Due: none

hooks: fix support for pyproj in conda
  cx_Freeze/hooks/_pyproj_.py
  tests/conftest.py
  tests/hooks/test_pyproj.py
Due: none

hooks: fix support for pyproj in conda (#3203)
  cx_Freeze/hooks/_pyproj_.py
  tests/conftest.py
  tests/hooks/test_pyproj.py
Due: none

Bump version: 8.5.0 → 8.5.1 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Bump version: 8.5.0 → 8.5.1 [ci skip] (#3211)
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

cx_Freeze 8.5.1
  index.html
Due: none

Add sponsor and donate links to index.html
  index.html
Due: none

Fix formatting of links in index.html
  index.html
Due: none

hooks: add numpy 2.4.0
  .pre-commit-config.yaml
  cx_Freeze/hooks/_numpy_.py
  tests/hooks/test_scikit.py
Due: none

hooks: add numpy 2.4.0 (#3215)
  .pre-commit-config.yaml
  cx_Freeze/hooks/_numpy_.py
  tests/hooks/test_scikit.py
Due: none

hooks: add streamlit
  cx_Freeze/hooks/_streamlit_.py
Due: none

security: upgrade dependencies to avoid vulnerabilities detected [ci skip]
  pyproject.toml
  requirements.txt
  tests/requirements.txt
Due: requirements

security: upgrade dependencies to avoid vulnerabilities detected [ci skip] (#3217)
  pyproject.toml
  requirements.txt
  tests/requirements.txt
Due: requirements

hooks: support pyparsing 3.3.x
  cx_Freeze/hooks/_pyparsing_.py
  cx_Freeze/hooks/global_names.py
Due: none

ignore optional packages
  cx_Freeze/hooks/_fonttools_.py
  cx_Freeze/hooks/_pyparsing_.py
Due: none

hooks: support pyparsing 3.3.x (#3218)
  cx_Freeze/hooks/_fonttools_.py
  cx_Freeze/hooks/_pyparsing_.py
  cx_Freeze/hooks/global_names.py
Due: none

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

[StepSecurity] Apply security best practices (#3216)
  .github/dependabot.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

build: fix errors building in conda and msys2 [ci skip]
  MANIFEST.in
  ci/build-wheel.sh
  ci/install-tools.sh
  tests/conftest.py
Due: shellcheck

build: fix errors building in conda and msys2 [ci skip] (#3220)
  MANIFEST.in
  ci/build-wheel.sh
  ci/install-tools.sh
  tests/conftest.py
Due: shellcheck

fix: include-msvcr is also used on MSYS2 environments
  cx_Freeze/_compat.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/freezer.py
  tests/test_command_build_exe.py
  tests/test_freezer.py
Due: none

make tests pass on msys2 (using pytest 8.4.x)
  Makefile
  pyproject.toml
  tests/hooks/test_av.py
Due: requirements

Path conditions:
  shellcheck: any of: ^(.*.sh)$, but not: (?x)^(
    cx_Freeze/hooks/_pyqt5_/_resource.py|
    cx_Freeze/hooks/_pyside2_/_resource.py|
    cx_Freeze/hooks/_pyside6_/_resource.py|
    cx_Freeze/importshed/.*.pyi|
    doc/src/conf.py
)$

  license: any of: ^(doc/src/license.rst| cx_Freeze/initscripts/frozen_application_license.txt )$, but not: (?x)^(
    cx_Freeze/hooks/_pyqt5_/_resource.py|
    cx_Freeze/hooks/_pyside2_/_resource.py|
    cx_Freeze/hooks/_pyside6_/_resource.py|
    cx_Freeze/importshed/.*.pyi|
    doc/src/conf.py
)$

  requirements: any of: ^(pyproject.toml|requirements.txt|requirements-dev.txt| doc/requirements.txt|tests/requirements.txt )$, but not: (?x)^(
    cx_Freeze/hooks/_pyqt5_/_resource.py|
    cx_Freeze/hooks/_pyside2_/_resource.py|
    cx_Freeze/hooks/_pyside6_/_resource.py|
    cx_Freeze/importshed/.*.pyi|
    doc/src/conf.py
)$

