Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

.pre-commit-config.yaml:

ci:
    skip: [build-docs, license, pylint]

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/pyqt5/resource.py|
        cx_Freeze/hooks/pyside2/resource.py|
        cx_Freeze/hooks/pyside6/resource.py
    )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ["--remove"]
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: trailing-whitespace

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.13
  hooks:
  - id: validate-pyproject

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.281
  hooks:
  - id: ruff
    args: ["--fix"]

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: 1.15.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.7.0]
    args: ["-l", "79"]

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: sphinx-build -M html doc/src build/doc -d build/doc/.doctrees -j auto
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.*.txt)$

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]

hooks: add easyocr and torchvision (also update skickit-image and pytorch) (#2286)
  cx_Freeze/hooks/easyocr.py
  cx_Freeze/hooks/skimage.py
  cx_Freeze/hooks/torch.py
  cx_Freeze/hooks/torchvision.py
Due: pylint

hooks: support tensorflow plugins (#2302)
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/tensorflow.py
Due: pylint

Bump version: 6.15.15 → 6.15.16 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

cx_Freeze 6.15.16
  index.html
Due: none

build: fix for Python 3.12 Ubuntu Linux 24.04 (Noble Nimbat)
  setup.py
Due: pylint

build: fix for Python 3.12 Ubuntu Linux 24.04 (Noble Nimbat) (#2303)
  setup.py
Due: pylint

chore: enable ruff 'EM' ruleset
  .pre-commit-config.yaml
  cx_Freeze/cli.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_deb.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/common.py
  cx_Freeze/executable.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/initscripts/__startup__.py
  cx_Freeze/module.py
  cx_Freeze/parser.py
  cx_Freeze/winversioninfo.py
  pyproject.toml
  tests/test_freezer.py
Due: requirements, pylint

chore: enable ruff 'EM' ruleset (#2304)
  .pre-commit-config.yaml
  cx_Freeze/cli.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_deb.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/common.py
  cx_Freeze/executable.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/initscripts/__startup__.py
  cx_Freeze/module.py
  cx_Freeze/parser.py
  cx_Freeze/winversioninfo.py
  pyproject.toml
  tests/test_freezer.py
Due: requirements, pylint

chore: enable ruff 'EM' ruleset (#2304)
  .pre-commit-config.yaml
  cx_Freeze/command/_bdist_msi.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/common.py
  cx_Freeze/executable.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/initscripts/__startup__.py
  cx_Freeze/module.py
  cx_Freeze/parser.py
  cx_Freeze/winversioninfo.py
  pyproject.toml
  tests/test_freezer.py
Due: requirements, pylint

chore: use more ruff lint rules
  .pre-commit-config.yaml
  ci/requirements.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/common.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/_unused_modules.py
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyqt6/debug.py
  cx_Freeze/hooks/pyside2/__init__.py
  cx_Freeze/hooks/pyside6/__init__.py
  cx_Freeze/hooks/pyside6/debug.py
  cx_Freeze/hooks/zoneinfo.py
  cx_Freeze/initscripts/__startup__.py
  cx_Freeze/initscripts/console.py
  cx_Freeze/initscripts/consolesetlibpath.py
  cx_Freeze/initscripts/sharedlib.py
  cx_Freeze/initscripts/sharedlibsource.py
  cx_Freeze/module.py
  pyproject.toml
  setup.py
Due: requirements, pylint

chore: use more ruff lint rules (#2305)
  .pre-commit-config.yaml
  ci/requirements.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/common.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/_unused_modules.py
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyqt6/debug.py
  cx_Freeze/hooks/pyside2/__init__.py
  cx_Freeze/hooks/pyside6/__init__.py
  cx_Freeze/hooks/pyside6/debug.py
  cx_Freeze/hooks/zoneinfo.py
  cx_Freeze/initscripts/__startup__.py
  cx_Freeze/initscripts/console.py
  cx_Freeze/initscripts/consolesetlibpath.py
  cx_Freeze/initscripts/sharedlib.py
  cx_Freeze/initscripts/sharedlibsource.py
  cx_Freeze/module.py
  pyproject.toml
  setup.py
Due: requirements, pylint

chore: use more ruff lint rules (#2305)
  .pre-commit-config.yaml
  ci/requirements.py
  cx_Freeze/command/_bdist_msi.py
  cx_Freeze/common.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/clr.py
  cx_Freeze/hooks/crypto.py
  cx_Freeze/hooks/cv2.py
  cx_Freeze/hooks/exclude.py
  cx_Freeze/hooks/glib.py
  cx_Freeze/hooks/matplotlib.py
  cx_Freeze/hooks/pil.py
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyqt6/debug.py
  cx_Freeze/hooks/pyside2/__init__.py
  cx_Freeze/hooks/pyside6/__init__.py
  cx_Freeze/hooks/pyside6/debug.py
  cx_Freeze/hooks/skimage.py
  cx_Freeze/hooks/sklearn.py
  cx_Freeze/hooks/ssl.py
  cx_Freeze/hooks/tkinter.py
  cx_Freeze/hooks/xlib.py
  cx_Freeze/hooks/zoneinfo.py
  cx_Freeze/initscripts/__startup__.py
  cx_Freeze/initscripts/console.py
  cx_Freeze/initscripts/consolesetlibpath.py
  cx_Freeze/initscripts/sharedlib.py
  cx_Freeze/initscripts/sharedlibsource.py
  cx_Freeze/module.py
  pyproject.toml
  setup.py
Due: requirements, pylint

chore: adapt code to support ruff 'S' rules
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/executable.py
  cx_Freeze/initscripts/consolesetlibpath.py
  cx_Freeze/setupwriter.py
  pyproject.toml
Due: requirements, pylint

chore: adapt code to support ruff 'S' rules (#2308)
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/executable.py
  cx_Freeze/initscripts/consolesetlibpath.py
  cx_Freeze/setupwriter.py
  pyproject.toml
Due: requirements, pylint

chore: improve annotation checking w/ ruff
  .pre-commit-config.yaml
  cx_Freeze/cli.py
  cx_Freeze/command/_pydialog.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_deb.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/command/install.py
  cx_Freeze/command/install_exe.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/tensorflow.py
  cx_Freeze/module.py
  cx_Freeze/setupwriter.py
  cx_Freeze/winversioninfo.py
  pyproject.toml
  tests/test_cli.py
  tests/test_freezer.py
  tests/test_modulefinder.py
  tests/test_multiprocessing.py
Due: requirements, pylint

chore: improve annotation (using ruff to check) (#2309)
  .pre-commit-config.yaml
  cx_Freeze/cli.py
  cx_Freeze/command/_pydialog.py
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/command/bdist_deb.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/command/install.py
  cx_Freeze/command/install_exe.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/tensorflow.py
  cx_Freeze/module.py
  cx_Freeze/setupwriter.py
  cx_Freeze/winversioninfo.py
  pyproject.toml
  tests/test_cli.py
  tests/test_freezer.py
  tests/test_modulefinder.py
  tests/test_multiprocessing.py
Due: requirements, pylint

tests: add TYPE_CHECKING to coverage excludes
  pyproject.toml
Due: requirements

tests: add TYPE_CHECKING to coverage excludes (#2310)
  pyproject.toml
Due: requirements

Update finder.py to fix RecursionError: maximum recursion depth exceeded
  cx_Freeze/finder.py
Due: pylint

chore: remove unused class
  cx_Freeze/common.py
  pyproject.toml
Due: requirements, pylint

chore: remove unused class (#2314)
  cx_Freeze/common.py
  pyproject.toml
Due: requirements, pylint

Bump version: 6.16.0-dev12 → 7.0.0-rc0 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  doc/src/index.rst
  doc/src/script.rst
  doc/src/setup_script.rst
  doc/src/versions.rst
  pyproject.toml
Due: requirements, pylint

Bump version: 6.16.0-dev12 → 7.0.0-rc0 [ci skip] (#2315)
  cx_Freeze/__init__.py
  doc/src/conf.py
  doc/src/index.rst
  doc/src/script.rst
  doc/src/setup_script.rst
  doc/src/versions.rst
  pyproject.toml
Due: requirements, pylint

chore: remove deprecated option in 'build' command
  cx_Freeze/__init__.py
  cx_Freeze/command/build_exe.py
  doc/src/setup_script.rst
Due: pylint

chore: remove deprecated option in 'build' command (#2316)
  cx_Freeze/__init__.py
  cx_Freeze/command/build_exe.py
  doc/src/setup_script.rst
Due: pylint

build(deps): pin dev dependencies
  pyproject.toml
  requirements-dev.txt
Due: requirements

build(deps): pin dev dependencies (#2318)
  pyproject.toml
  requirements-dev.txt
Due: requirements

Support for build and tests
  ci/_platform.py
  ci/build-manylinux-test-one.sh
  ci/build-manylinux-tests.sh
  ci/build-test-one.sh
  ci/build-test.json
  ci/build-test.sh
  ci/build-utils.sh
  ci/build_run.py
  ci/build_test.py
  ci/manylinux-build-wheel.sh
  ci/manylinux-create.sh
  ci/manylinux-shared.sh
  ci/screencapture.bat
  ci/test-manylinux-one.sh
Due: pylint

chore: refactor internal modules
  cx_Freeze/_compat.py
  cx_Freeze/_importlib.py
  cx_Freeze/_packaging.py
  cx_Freeze/_typing.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/module.py
  cx_Freeze/util.pyi
  cx_Freeze/winversioninfo.py
  doc/src/installation.rst
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_winversioninfo.py
Due: requirements, pylint

chore: refactor internal modules (#2319)
  cx_Freeze/_compat.py
  cx_Freeze/_importlib.py
  cx_Freeze/_packaging.py
  cx_Freeze/_typing.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/module.py
  cx_Freeze/util.pyi
  cx_Freeze/winversioninfo.py
  doc/src/installation.rst
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_winversioninfo.py
Due: requirements, pylint

Bump version: 7.0.0-rc0 → 7.0.0-dev88 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

Improve the sample getdependentfiles
  samples/dependencies/getdependentfiles.py
  samples/dependencies/test_1.py
Due: pylint

chore: add support for Python 3.13
  cx_Freeze/__init__.py
  cx_Freeze/finder.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test___init__.py
Due: requirements, pylint
