Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

.pre-commit-config.yaml:

ci:
    skip: [build-docs, license, pylint]

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/pyqt5/resource.py|
        cx_Freeze/hooks/pyside2/resource.py|
        cx_Freeze/hooks/pyside6/resource.py
    )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ["--remove"]
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: trailing-whitespace

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.13
  hooks:
  - id: validate-pyproject

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.281
  hooks:
  - id: ruff
    args: ["--fix"]

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: 1.15.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.7.0]
    args: ["-l", "79"]

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: sphinx-build -M html doc/src build/doc -d build/doc/.doctrees -j auto
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.*.txt)$

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]

tests: simplify test using a run_command (#2187)
  tests/generate_samples.py
  tests/test_command_bdist_msi.py
  tests/test_command_bdist_rpm.py
  tests/test_command_build.py
  tests/test_command_build_exe.py
  tests/test_hooks_stdlib.py
  tests/test_multiprocessing.py
  tests/test_plist_items.py
  tests/test_windows_manifest.py
Due: pylint

tests: simplify more tests using run_command (#2189)
  tests/test_command_bdist_appimage.py
  tests/test_command_bdist_deb.py
  tests/test_executables.py
Due: pylint

fix tests
  tests/test_command_build_exe.py
Due: pylint

add --unsafe-fixes
  .pre-commit-config.yaml
Due: none

build(deps-dev): bump pre-commit up to 3.6.0 and sphinx up to 7.2.6
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

build(deps-dev): bump pre-commit up to 3.6.0 and sphinx up to 7.2.6 (#2196)
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

tests: minor tweaks - part 2
  tests/test_command_bdist_msi.py
  tests/test_command_bdist_rpm.py
  tests/test_command_build.py
  tests/test_command_build_exe.py
  tests/test_hooks_stdlib.py
  tests/test_multiprocessing.py
  tests/test_plist_items.py
  tests/test_windows_manifest.py
  tests/test_winmsvcr.py
Due: pylint

tests: minor tweaks - part 1
  tests/test_command_bdist_appimage.py
  tests/test_command_bdist_deb.py
  tests/test_executables.py
Due: pylint

tests: minor tweaks - part 1 (#2197)
  tests/test_command_bdist_appimage.py
  tests/test_command_bdist_deb.py
  tests/test_executables.py
Due: pylint

tests: minor tweaks - part 2 (#2198)
  tests/test_command_bdist_msi.py
  tests/test_command_bdist_rpm.py
  tests/test_command_build.py
  tests/test_command_build_exe.py
  tests/test_hooks_stdlib.py
  tests/test_multiprocessing.py
  tests/test_plist_items.py
  tests/test_windows_manifest.py
  tests/test_winmsvcr.py
Due: pylint

winmsvcr: extend support for VS 2022
  cx_Freeze/freezer.py
  cx_Freeze/winmsvcr.py
  tests/test_winmsvcr.py
Due: pylint

tests: improved test_build_exe_with_include_msvcr
  tests/test_command_build_exe.py
  tests/test_winmsvcr.py
Due: pylint

freezer: improve/fixes validate_executable
  cx_Freeze/__init__.py
  cx_Freeze/executable.py
  cx_Freeze/freezer.py
  tests/test_command_bdist_appimage.py
  tests/test_command_bdist_deb.py
  tests/test_command_bdist_msi.py
  tests/test_command_bdist_rpm.py
  tests/test_command_build_exe.py
  tests/test_executables.py
Due: pylint

freezer: improve/fixes validate_executable (#2205)
  cx_Freeze/__init__.py
  cx_Freeze/executable.py
  cx_Freeze/freezer.py
  tests/test_command_bdist_appimage.py
  tests/test_command_bdist_deb.py
  tests/test_command_bdist_msi.py
  tests/test_command_bdist_rpm.py
  tests/test_command_build_exe.py
  tests/test_executables.py
Due: pylint

hooks: opencv-python - minor fixes
  cx_Freeze/hooks/cv2.py
Due: pylint

hooks: opencv-python - minor fixes (#2206)
  cx_Freeze/hooks/cv2.py
Due: pylint

winmsvcr: extend support for VS 2022 (#2204)
  cx_Freeze/freezer.py
  cx_Freeze/winmsvcr.py
  tests/test_command_build_exe.py
  tests/test_winmsvcr.py
Due: pylint

hooks: add pyproj
  cx_Freeze/hooks/pyproj.py
Due: pylint

hooks: add pyproj (#2207)
  cx_Freeze/hooks/pyproj.py
Due: pylint

docs: open extenal links in new tab
  cx_Freeze/initscripts/frozen_application_license.txt
  doc/src/conf.py
  doc/src/development/index.rst
  doc/src/faq.rst
  doc/src/installation.rst
  doc/src/keywords.rst
  doc/src/license.rst
  doc/src/overview.rst
  doc/src/setup_script.rst
  pyproject.toml
  requirements-dev.txt
Due: license, requirements, pylint

revert license link
  cx_Freeze/initscripts/frozen_application_license.txt
  doc/src/license.rst
Due: license

docs: open extenal links in new tab (#2208)
  cx_Freeze/initscripts/frozen_application_license.txt
  doc/src/conf.py
  doc/src/development/index.rst
  doc/src/faq.rst
  doc/src/installation.rst
  doc/src/keywords.rst
  doc/src/license.rst
  doc/src/overview.rst
  doc/src/setup_script.rst
  pyproject.toml
  requirements-dev.txt
Due: license, requirements, pylint

Update copyright year and license
  ci/license.py
  cx_Freeze/cli.py
  cx_Freeze/initscripts/frozen_application_license.txt
  cx_Freeze/winversioninfo.py
  doc/src/conf.py
  doc/src/installation.rst
  doc/src/license.rst
  doc/src/setup_script.rst
Due: license, pylint

chore: Update copyright year and license (#2209)
  ci/license.py
  cx_Freeze/cli.py
  cx_Freeze/initscripts/frozen_application_license.txt
  cx_Freeze/winversioninfo.py
  doc/src/conf.py
  doc/src/installation.rst
  doc/src/license.rst
  doc/src/setup_script.rst
Due: license, pylint

winversioninfo: fix version string and improve coverage/tests
  cx_Freeze/winversioninfo.py
  pyproject.toml
  tests/README.md
  tests/test_winversioninfo.py
Due: requirements, pylint

update ci to improve coverage tests
  .github/workflows/ci.yml
Due: none

winversioninfo: fix version string and improve coverage/tests (#2211)
  .github/workflows/ci.yml
  cx_Freeze/winversioninfo.py
  pyproject.toml
  tests/README.md
  tests/test_winversioninfo.py
Due: requirements, pylint

parser: minor fix to support lief 0.14
  cx_Freeze/parser.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_windows_manifest.py
Due: requirements, pylint

parser: minor fix to support lief 0.14 (#2216)
  cx_Freeze/parser.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_windows_manifest.py
Due: requirements, pylint

Bump version: 6.15.12 → 6.15.13 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

cx_Freeze 6.15.13
  index.html
Due: none

tests: add tests for __main__ and cli
  tests/test___main__.py
  tests/test_cli.py
Due: pylint
