Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

.pre-commit-config.yaml:

ci:
    skip: [build-docs, license, pylint]

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/pyqt5/resource.py|
        cx_Freeze/hooks/pyside2/resource.py|
        cx_Freeze/hooks/pyside6/resource.py
    )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ["--remove"]
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: trailing-whitespace

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.13
  hooks:
  - id: validate-pyproject

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.281
  hooks:
  - id: ruff
    args: ["--fix"]

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: 1.15.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.7.0]
    args: ["-l", "79"]

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: sphinx-build -M html doc/src build/doc -d build/doc/.doctrees -j auto
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.*.txt)$

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]

Change output to /Resources
  cx_Freeze/command/bdist_mac.py
Due: pylint

Changed to capture un-extensioned files
  cx_Freeze/command/bdist_mac.py
Due: pylint

Changed to kat-assemble codesign for verification reasons
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/darwintools.py
Due: pylint

Trying an idea
  cx_Freeze/command/bdist_mac.py
Due: pylint

Delete Existing .app dir before build
  cx_Freeze/command/bdist_mac.py
Due: pylint

Hookup options
  cx_Freeze/command/bdist_mac.py
  doc/src/setup_script.rst
Due: pylint

Removed repeated arg (-vvv is --verbose)
  cx_Freeze/command/bdist_mac.py
Due: pylint

Added information about new options for codesign.
  doc/src/setup_script.rst
Due: none

doh! recursion is important
  cx_Freeze/command/bdist_mac.py
Due: pylint

Test recursive codesign
  cx_Freeze/command/bdist_mac.py
Due: pylint

Move output location of license file to resources
  cx_Freeze/command/bdist_mac.py
Due: pylint

Whitespace fix
  cx_Freeze/command/bdist_mac.py
Due: pylint

fix html build
  doc/src/setup_script.rst
Due: none

make ruff and pylint happy
  cx_Freeze/command/bdist_mac.py
Due: pylint

Rename isMachOFile for public access
  cx_Freeze/darwintools.py
Due: pylint

use isMachOFile to determine binaries to sign
  cx_Freeze/command/bdist_mac.py
Due: pylint

Updated sample with codesign options
  samples/pyside2/codesign-entitlements.plist
  samples/pyside2/setup.py
Due: pylint

Review feedback
  samples/pyside2/setup.py
Due: pylint

bdis_mac: Builds pass macOS notarization (#2025)
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/darwintools.py
  doc/src/setup_script.rst
  samples/pyside2/codesign-entitlements.plist
  samples/pyside2/setup.py
Due: pylint

build-wheel: fix build and compatibility w/ build 1.0
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

build-wheel: fix build and compatibility w/ build 1.0 (#2030)
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

hooks: add pandas 2.1.0
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_libs.py
  cx_Freeze/hooks/pandas.py
  samples/pandas/README.md
  samples/pandas/setup.py
Due: pylint

hooks: add support for pandas 2.1.0 (#2032)
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_libs.py
  cx_Freeze/hooks/pandas.py
  samples/pandas/README.md
  samples/pandas/setup.py
Due: pylint

build-wheel: fix build and compatibility w/ build 1.0 (#2030)
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

doc: Building binary wheels
  doc/src/development/index.rst
Due: none

doc: Building binary wheels (#2033)
  doc/src/development/index.rst
Due: none

"Bump version: 6.16.0-dev5 → 6.16.0-dev6 [ci skip]"
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

"Bump version: 6.16.0-dev5 → 6.16.0-dev6 [ci skip]" (#2034)
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

"Bump version: 6.15.6 → 6.15.7 [ci skip]"
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

build(deps-dev): update pre-commit and doc dependencies (#2014)
  .pre-commit-config.yaml
  doc/src/development/index.rst
  doc/src/installation.rst
  pyproject.toml
  requirements-dev.txt
Due: requirements

doc: furo can be used only on html build (#2015)
  .pre-commit-config.yaml
  .readthedocs.yaml
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

v6.15.7
  index.html
Due: none

hooks: improve numpy and pandas hooks
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/pandas.py
Due: pylint

hooks: improve numpy and pandas hooks (#2036)
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/pandas.py
Due: pylint

bdist_mac: fix duplicate lib in bdist_dmg
  cx_Freeze/command/bdist_mac.py
Due: pylint

bdist_mac: small optimization on copy tree
  cx_Freeze/command/bdist_mac.py
Due: pylint
