Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, license, requirements

.pre-commit-config.yaml:

ci:
  skip: [blacken-docs, build-docs, shellcheck]

exclude: |
  (?x)^(
      cx_Freeze/hooks/_pyqt5_/_resource.py|
      cx_Freeze/hooks/_pyside2_/_resource.py|
      cx_Freeze/hooks/_pyside6_/_resource.py|
      cx_Freeze/importshed/.*.pyi|
      doc/src/conf.py
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        additional_dependencies:
          - validate-pyproject-schema-store[all]>=2024.11.22

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==25.1.0
        args: ["-l", "79"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        args: ["--ignore-words-list=lief,LIEF", "-w", "--skip=*.rtf"]
        exclude: (?x)^(cx_Freeze/hooks/global_names.py)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.0
    hooks:
      - id: clang-format
        args: ["--style=file:source/.clang-format"]
        exclude: |
          (?x)^(source/bases/pythoncapi_compat.h|
                source/legacy/pythoncapi_compat.h
          )$
        types_or: [c, c++]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]

  - repo: local
    hooks:
      - id: shellcheck
        name: shell script analysis tool
        entry: shellcheck
        language: system
        files: ^(.*.sh)$

  - repo: local
    hooks:
      - id: build-docs
        name: build sphinx docs
        language: system
        entry: make -C doc html
        always_run: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: license
        name: license
        language: system
        entry: python ci/license.py
        files: ^(doc/src/license.rst|
          cx_Freeze/initscripts/frozen_application_license.txt
          )$

  - repo: local
    hooks:
      - id: requirements
        name: requirements
        language: system
        entry: python ci/requirements.py
        files: ^(pyproject.toml|requirements.txt|requirements-dev.txt|
          doc/requirements.txt|tests/requirements.txt
          )$

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

chore: minor tweaks in internal imports
  cx_Freeze/__init__.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/module.py
Due: none

chore: minor tweaks in internal imports (#3122)
  cx_Freeze/__init__.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/module.py
Due: none

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

chore: refactor finder scan code
  cx_Freeze/_bytecode.py
  cx_Freeze/finder.py
  tests/datatest.py
  tests/test_modulefinder.py
Due: none

chore: refactor finder scan code (#3126)
  cx_Freeze/_bytecode.py
  cx_Freeze/finder.py
  tests/datatest.py
  tests/test_modulefinder.py
Due: none

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__bytecode_py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

tests: update supported versions of packages used in tests
  cx_Freeze/hooks/_av_.py
  tests/hooks/test_async.py
  tests/hooks/test_av.py
  tests/hooks/test_crypto.py
  tests/hooks/test_multiprocess.py
  tests/hooks/test_numpy.py
  tests/hooks/test_pyarrow.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_pyzmq.py
  tests/hooks/test_qt.py
  tests/hooks/test_scikit.py
  tests/hooks/test_win32com.py
  tests/hooks/test_zeroconf.py
Due: none

fix some updates
  tests/hooks/test_multiprocess.py
  tests/hooks/test_ortools.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_qt.py
Due: none

tests: update supported versions of packages used in tests (#3128)
  cx_Freeze/hooks/_av_.py
  tests/hooks/test_async.py
  tests/hooks/test_av.py
  tests/hooks/test_crypto.py
  tests/hooks/test_multiprocess.py
  tests/hooks/test_numpy.py
  tests/hooks/test_ortools.py
  tests/hooks/test_pyarrow.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_pyzmq.py
  tests/hooks/test_qt.py
  tests/hooks/test_scikit.py
  tests/hooks/test_win32com.py
  tests/hooks/test_zeroconf.py
Due: none

chore: bump ruff from 0.13.3 to 0.14.0 and tweak some options
  .pre-commit-config.yaml
  cx_Freeze/cli.py
  cx_Freeze/command/install.py
  cx_Freeze/dep_parser.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_multiprocessing_.py
  cx_Freeze/hooks/_pandas_.py
  pyproject.toml
  samples/pyside2-simplebrowser/setup.py
  samples/pyside2/setup.py
  samples/pyside6-simplebrowser/setup.py
  samples/win32com/test_win32com.py
  tests/hooks/test_multiprocess.py
  tests/hooks/test_multiprocessing.py
  tests/hooks/test_pymupdf.py
  tests/test_cli.py
Due: requirements

fix imports
  samples/win32com/test_win32com.py
Due: none

chore: bump ruff from 0.13.3 to 0.14.0 and tweak some options (#3129)
  .pre-commit-config.yaml
  cx_Freeze/cli.py
  cx_Freeze/command/install.py
  cx_Freeze/dep_parser.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/hooks/__init__.py
  cx_Freeze/hooks/_multiprocessing_.py
  cx_Freeze/hooks/_pandas_.py
  pyproject.toml
  samples/pyside2-simplebrowser/setup.py
  samples/pyside2/setup.py
  samples/pyside6-simplebrowser/setup.py
  samples/win32com/test_win32com.py
  tests/hooks/test_multiprocess.py
  tests/hooks/test_multiprocessing.py
  tests/hooks/test_pymupdf.py
  tests/test_cli.py
Due: requirements

chore: add support for Python 3.14
  cx_Freeze/_bytecode.py
  cx_Freeze/hooks/__init__.py
  tests/hooks/test_async.py
  tests/hooks/test_crypto.py
  tests/hooks/test_pymupdf.py
Due: none

Bump freeze-core 0.2.2, fix metadata and add CI tests
  .github/workflows/ci.yml
  doc/src/index.rst
  doc/src/versions.rst
  pyproject.toml
  requirements.txt
  tests/hooks/test_async.py
  tests/hooks/test_av.py
  tests/hooks/test_crypto.py
  tests/hooks/test_mkl.py
  tests/hooks/test_multiprocess.py
  tests/hooks/test_multiprocessing.py
  tests/hooks/test_numpy.py
  tests/hooks/test_ortools.py
  tests/hooks/test_pillow.py
  tests/hooks/test_pyarrow.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_pyproj.py
  tests/hooks/test_pytz.py
  tests/hooks/test_pyzmq.py
  tests/hooks/test_qt.py
  tests/hooks/test_scikit.py
  tests/hooks/test_stdlib.py
  tests/hooks/test_win32com.py
  tests/hooks/test_zeroconf.py
Due: requirements

Lief is not available for Python 3.13t and 3.14t
  .github/workflows/ci.yml
  ci/install-tools.sh
  pyproject.toml
  requirements.txt
  tests/test_dep_parser.py
  tests/test_windows_manifest.py
Due: shellcheck, requirements

Fix windows tests
  tests/hooks/test_numpy.py
  tests/hooks/test_win32com.py
  tests/test_dep_parser.py
  tests/test_executables.py
  tests/test_windows_manifest.py
  tests/test_winversioninfo.py
Due: none

Fix executable windows tests
  tests/test_executables.py
Due: none

Fix more windows tests
  tests/test_dep_parser.py
  tests/test_executables.py
  tests/test_windows_manifest.py
Due: none

matplotlib depends on kiwisolver that does not support Python 3.13t on Windows
  tests/hooks/test_numpy.py
Due: none

chore: add support for Python 3.14 (#3130)
  .github/workflows/ci.yml
  ci/install-tools.sh
  cx_Freeze/_bytecode.py
  cx_Freeze/hooks/__init__.py
  doc/src/index.rst
  doc/src/versions.rst
  pyproject.toml
  requirements.txt
  tests/hooks/test_async.py
  tests/hooks/test_av.py
  tests/hooks/test_crypto.py
  tests/hooks/test_mkl.py
  tests/hooks/test_multiprocess.py
  tests/hooks/test_multiprocessing.py
  tests/hooks/test_numpy.py
  tests/hooks/test_ortools.py
  tests/hooks/test_pillow.py
  tests/hooks/test_pyarrow.py
  tests/hooks/test_pymupdf.py
  tests/hooks/test_pyproj.py
  tests/hooks/test_pytz.py
  tests/hooks/test_pyzmq.py
  tests/hooks/test_qt.py
  tests/hooks/test_scikit.py
  tests/hooks/test_stdlib.py
  tests/hooks/test_win32com.py
  tests/hooks/test_zeroconf.py
  tests/test_dep_parser.py
  tests/test_executables.py
  tests/test_windows_manifest.py
  tests/test_winversioninfo.py
Due: shellcheck, requirements

Refine docstring and improve log message format
  cx_Freeze/command/bdist_appimage.py
Due: none

added "runtime" argument to bdist_appimage command
  cx_Freeze/command/bdist_appimage.py
  doc/src/bdist_appimage.rst
  tests/test_command_bdist_appimage.py
Due: none

Changed argument name from 'runtime' to 'runtime-file'.
  cx_Freeze/command/bdist_appimage.py
  doc/src/bdist_appimage.rst
  tests/test_command_bdist_appimage.py
Due: none

bdist_appimage: add "runtime-file" argument to bdist_appimage command (#3063)
  cx_Freeze/command/bdist_appimage.py
  doc/src/bdist_appimage.rst
  tests/test_command_bdist_appimage.py
Due: none

bdist_appimage: replace appimagekit option with appimagetool option Improve documentation
  cx_Freeze/command/bdist_appimage.py
  doc/requirements.txt
  doc/src/bdist_appimage.rst
  doc/src/builtdist.rst
  doc/src/conf.py
  pyproject.toml
  tests/hooks/test_numpy.py
  tests/test_command_bdist_appimage.py
Due: requirements

bdist_appimage: replace appimagekit option with appimagetool option (#3131)
  cx_Freeze/command/bdist_appimage.py
  doc/requirements.txt
  doc/src/bdist_appimage.rst
  doc/src/builtdist.rst
  doc/src/conf.py
  pyproject.toml
  tests/hooks/test_numpy.py
  tests/test_command_bdist_appimage.py
Due: requirements

chore: refactor more code related to bytecode and executable
  cx_Freeze/_bytecode.py
  cx_Freeze/common.py
  cx_Freeze/executable.py
  cx_Freeze/finder.py
  cx_Freeze/hooks/_cryptodome_.py
  cx_Freeze/hooks/_matplotlib_.py
Due: none

chore: refactor more code related to bytecode and executable (#3132)
  cx_Freeze/_bytecode.py
  cx_Freeze/common.py
  cx_Freeze/executable.py
  cx_Freeze/finder.py
  cx_Freeze/hooks/_cryptodome_.py
  cx_Freeze/hooks/_matplotlib_.py
Due: none

bdist_appimage: add suport for 'gui' app in desktop file
  cx_Freeze/command/bdist_appimage.py
  cx_Freeze/executable.py
  tests/test_command_bdist_appimage.py
  tests/test_executables.py
Due: none

pass tests on windows
  tests/test_executables.py
Due: none
