Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

license:
  name: license
  language: system
  entry: python ci/license.py

requirements:
  name: requirements
  language: system
  entry: python ci/requirements.py

pylint:
  name: pylint
  entry: pylint
  language: system

tests: add tests for __main__ and cli (#2219)
  tests/test___main__.py
  tests/test_cli.py
Due: pylint

winversioninfo: comments length must be limited to fit WORD
  cx_Freeze/winversioninfo.py
  tests/test_winversioninfo.py
Due: pylint

winversioninfo: comments length must be limited to fit WORD (#2220)
  cx_Freeze/winversioninfo.py
  tests/test_winversioninfo.py
Due: pylint

add test
  cx_Freeze/freezer.py
  tests/test_windows_manifest.py
Due: pylint

add documentation
  cx_Freeze/freezer.py
  doc/src/script.rst
  doc/src/setup_script.rst
Due: pylint

executable: new option --uac-uiaccess
  cx_Freeze/cli.py
  cx_Freeze/executable.py
  cx_Freeze/freezer.py
Due: pylint

tests: target_dir "starts in a clean directory"
  tests/test_cli.py
  tests/test_command_build.py
Due: pylint

tests: target_dir "starts in a clean directory" (#2223)
  tests/test_cli.py
  tests/test_command_build.py
Due: pylint

tests: test build_exe options silent,silent-level and build_exe
  cx_Freeze/command/build_exe.py
  cx_Freeze/freezer.py
  tests/test_cli.py
  tests/test_command_build_exe.py
Due: pylint

tests: test build_exe options silent,silent-level and build_exe (#2224)
  cx_Freeze/command/build_exe.py
  cx_Freeze/freezer.py
  tests/test_cli.py
  tests/test_command_build_exe.py
Due: pylint

chore: add options to pre-commit
  .github/workflows/ci.yml
  Makefile
Due: none

chore: add options to pre-commit (#2225)
  .github/workflows/ci.yml
  Makefile
Due: none

executable: new option --uac-uiaccess (#2135)
  cx_Freeze/cli.py
  cx_Freeze/executable.py
  cx_Freeze/freezer.py
  doc/src/script.rst
  doc/src/setup_script.rst
  tests/test_windows_manifest.py
Due: pylint

tests: add some freezer tests
  cx_Freeze/freezer.py
  tests/test_freezer.py
Due: pylint

fix macos dylib
  tests/test_freezer.py
Due: pylint

fix windows test
  tests/test_freezer.py
Due: pylint

fix windows test - use absolute
  tests/test_freezer.py
Due: pylint

tests: add some freezer tests (#2226)
  cx_Freeze/freezer.py
  tests/test_freezer.py
Due: pylint

chore: improve the use of coverage
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  requirements-dev.txt
  tests/.coveragerc
  tests/README.md
Due: requirements

chore: improve the use of coverage (#2233)
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  requirements-dev.txt
  tests/.coveragerc
  tests/README.md
Due: requirements

hooks: opencv-python -fix #2206 regression
  cx_Freeze/hooks/cv2.py
Due: pylint

chore: rearranges and sort some settings
  Makefile
  pyproject.toml
  tests/README.md
Due: requirements

chore: rearranges and sort some settings (#2235)
  Makefile
  pyproject.toml
  tests/README.md
Due: requirements

fix: coverage report extra tests
  .github/workflows/ci.yml
Due: none

fix: coverage report extra tests (#2236)
  .github/workflows/ci.yml
Due: none

ci: add specific coverage test for linux
  .github/workflows/ci.yml
  Makefile
Due: none

ci: add specific coverage test for linux (#2239)
  .github/workflows/ci.yml
  Makefile
Due: none

tests: improve coverage tests for linux
  .github/workflows/ci.yml
  Makefile
Due: none

tests: improve coverage tests for linux (#2241)
  .github/workflows/ci.yml
  Makefile
Due: none

fix: incorrect metadata usage in install/install_exe
  cx_Freeze/command/install.py
  cx_Freeze/command/install_exe.py
Due: pylint

add tests and coverage
  tests/test_command_build.py
  tests/test_command_build_exe.py
  tests/test_command_install.py
  tests/test_command_install_exe.py
Due: pylint

Path conditions:
  license: any of: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

  requirements: any of: ^(pyproject.toml|requirements.*.txt)$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

  pylint: any of: \.py$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

