Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

license:
  name: license
  language: system
  entry: python ci/license.py

requirements:
  name: requirements
  language: system
  entry: python ci/requirements.py

pylint:
  name: pylint
  entry: pylint
  language: system

fix: incorrect metadata usage in install/install_exe (#2242)
  cx_Freeze/command/install.py
  cx_Freeze/command/install_exe.py
  tests/test_command_build.py
  tests/test_command_build_exe.py
  tests/test_command_install.py
  tests/test_command_install_exe.py
Due: pylint

fix: install_exe test
  tests/test_command_install_exe.py
Due: pylint

Bump version: 6.15.13 → 6.15.14 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

cx_Freeze 6.15.14
  index.html
Due: none

add token
  .github/workflows/ci.yml
Due: none

add tests and fix sample
  Makefile
  cx_Freeze/__init__.py
  samples/simple_pyproject/pyproject.toml
  samples/simple_pyproject/setup.py
  tests/generate_samples.py
  tests/test_executables.py
Due: pylint

chore: add support for pyproject.toml (tool.cxfreeze)
  cx_Freeze/_pyproject.py
  cx_Freeze/cli.py
  cx_Freeze/executable.py
Due: pylint

adds preliminary documentation
  doc/src/script.rst
  doc/src/setup_script.rst
Due: none

fixes and coverage of more test cases
  cx_Freeze/cli.py
  tests/test_cli.py
  tests/test_executables.py
Due: pylint

test using tomli as a last resort
  tests/test_cli.py
Due: pylint

chore: add support for pyproject.toml (tool.cxfreeze) (#2244)
  Makefile
  cx_Freeze/__init__.py
  cx_Freeze/_pyproject.py
  cx_Freeze/cli.py
  cx_Freeze/executable.py
  doc/src/script.rst
  doc/src/setup_script.rst
  samples/simple_pyproject/pyproject.toml
  samples/simple_pyproject/setup.py
  tests/generate_samples.py
  tests/test_cli.py
  tests/test_executables.py
Due: pylint

tests: add more tests for bdist_msi
  tests/test_command_bdist_msi.py
  tests/test_executables.py
Due: pylint

fix: remove misuse of packages in setuptools.setup
  cx_Freeze/__init__.py
Due: pylint

fix: #2242 introduced a regression in install_exe
  cx_Freeze/command/install_exe.py
Due: pylint

tests: add more tests for bdist_msi (#2248)
  tests/test_command_bdist_msi.py
  tests/test_executables.py
Due: pylint

fix: remove misuse of packages in setuptools.setup (#2249)
  cx_Freeze/__init__.py
Due: pylint

fix: #2242 introduced a regression in install_exe (#2250)
  cx_Freeze/command/install_exe.py
Due: pylint

tests: add more tests for bdist_msi (#2248)
  tests/test_command_bdist_msi.py
Due: pylint

build-exe: adds include_path option (formerly in cli)
  cx_Freeze/cli.py
  cx_Freeze/command/build_exe.py
Due: pylint

tests and documentation
  doc/src/setup_script.rst
  tests/test_cli.py
Due: pylint

build-exe: adds include_path option (formerly in cli) (#2253)
  cx_Freeze/cli.py
  cx_Freeze/command/build_exe.py
  doc/src/setup_script.rst
  tests/test_cli.py
Due: pylint

Bump version: 6.15.14 → 6.15.15 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

tests: add more tests for freezer
  cx_Freeze/freezer.py
  tests/test_freezer.py
Due: pylint

tests: add more tests for freezer (#2254)
  cx_Freeze/freezer.py
  tests/test_freezer.py
Due: pylint

build(deps-dev): bump furo from 2023.9.10 to 2024.1.29
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  requirements-dev.txt
Due: requirements

build(deps-dev): bump furo from 2023.9.10 to 2024.1.29 (#2256)
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  requirements-dev.txt
Due: requirements

blacken-docs
  .pre-commit-config.yaml
Due: none

pre-commit: use validate-pyproject-schema-store
  .github/workflows/build-wheel.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: requirements

pre-commit: use validate-pyproject-schema-store (#2258)
  .github/workflows/build-wheel.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: requirements

6.15.15
  index.html
Due: none

bdist_deb: fix call to bdist_rpm, improve tests
  cx_Freeze/command/bdist_deb.py
  tests/test_command_bdist_deb.py
Due: pylint

bdist_deb: fix call to bdist_rpm, improve tests (#2260)
  cx_Freeze/command/bdist_deb.py
  tests/test_command_bdist_deb.py
Due: pylint

tests: improve a bit build_exe and freezer tests
  tests/test_command_build_exe.py
  tests/test_freezer.py
Due: pylint

tests: improve a bit build_exe and freezer tests (#2262)
  tests/test_command_build_exe.py
  tests/test_freezer.py
Due: pylint

tests: improve a bit build_exe and freezer tests (#2262)
  cx_Freeze/freezer.py
  tests/test_command_build_exe.py
  tests/test_freezer.py
Due: pylint

freezer: remove dead code (not used in py38+)
  cx_Freeze/freezer.py
Due: pylint

freezer: remove dead code (not used in py38+) (#2263)
  cx_Freeze/freezer.py
Due: pylint

Path conditions:
  license: any of: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

  requirements: any of: ^(pyproject.toml|requirements.*.txt)$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

  pylint: any of: \.py$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

