Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements

.pre-commit-config.yaml:

ci:
    skip: [blacken-docs, build-docs]

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/pyqt5/resource.py|
        cx_Freeze/hooks/pyside2/resource.py|
        cx_Freeze/hooks/pyside6/resource.py|
        cx_Freeze/importshed/.*.pyi|
        doc/src/conf.py
    )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ["--remove"]
  - id: mixed-line-ending
    args: ["--fix=lf"]
  - id: trailing-whitespace

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.16
  hooks:
  - id: validate-pyproject
    additional_dependencies: ["validate-pyproject-schema-store[all]"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.3.4
  hooks:
  - id: ruff
    args: ["--fix", "--unsafe-fixes"]
  - id: ruff-format

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==24.2.0
    args: ["-l", "79"]

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: sphinx-build -M html doc/src build/doc -d build/doc/.doctrees -j auto
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.*.txt)$

samples: Add ssl and requests samples
  samples/requests/pyproject.toml
  samples/requests/setup.py
  samples/requests/test_requests.py
  samples/ssl/setup.py
  samples/ssl/test_ssl.py
  samples/sslfix/setup.py
  samples/sslfix/test_sslfix.py
Due: none

docs: add 'Creating Built Distributions'
  doc/src/builtdist.rst
Due: none

fix warnings
  doc/src/builtdist.rst
  doc/src/index.rst
Due: none

docs: add 'Creating Built Distributions' (#2321)
  doc/src/builtdist.rst
  doc/src/index.rst
Due: none

doc: fix furo edit button [ci skip]
  doc/src/conf.py
Due: none

doc: fix furo edit button [ci skip] (#2322)
  doc/src/conf.py
Due: none

chore: move License to the project root dir
  LICENSE.md
  ci/license.py
  doc/src/conf.py
  doc/src/index.rst
  doc/src/license.rst
  pyproject.toml
  requirements-dev.txt
Due: license, requirements

chore: move License to the project root dir (#2323)
  LICENSE.md
  ci/license.py
  doc/src/conf.py
  doc/src/index.rst
  doc/src/license.rst
  pyproject.toml
  requirements-dev.txt
Due: license, requirements

doc: show pyproject.toml as fisrt example
  .pre-commit-config.yaml
  doc/Makefile
  doc/src/setup_script.rst
Due: none

doc: show pyproject.toml as fisrt example (#2326)
  .pre-commit-config.yaml
  doc/Makefile
  doc/src/setup_script.rst
Due: none

doc: separates bdist commands to nest them in builtdist
  doc/src/bdist_appimage.rst
  doc/src/bdist_deb.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/builtdist.rst
  doc/src/faq.rst
  doc/src/setup_script.rst
Due: none

fix build warnings
  .pre-commit-config.yaml
  doc/Makefile
  doc/src/bdist_appimage.rst
  doc/src/bdist_deb.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/builtdist.rst
Due: none

doc: separates bdist commands to nest them in builtdist (#2325)
  .pre-commit-config.yaml
  doc/Makefile
  doc/src/bdist_appimage.rst
  doc/src/bdist_deb.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/builtdist.rst
  doc/src/faq.rst
  doc/src/setup_script.rst
Due: none

doc: show builtdist command as toctree and clickable in the table
  .pre-commit-config.yaml
  doc/Makefile
  doc/src/bdist_deb.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/builtdist.rst
  doc/src/development/code_layout.rst
  doc/src/faq.rst
  doc/src/overview.rst
  doc/src/script.rst
  doc/src/setup_script.rst
Due: none

doc: show builtdist command as toctree and clickable in the table (#2327)
  .pre-commit-config.yaml
  doc/Makefile
  doc/src/bdist_deb.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/builtdist.rst
  doc/src/development/code_layout.rst
  doc/src/faq.rst
  doc/src/overview.rst
  doc/src/script.rst
  doc/src/setup_script.rst
Due: none

doc: Correct some typographical errors and grammar errors.
  doc/src/bdist_appimage.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/builtdist.rst
  doc/src/faq.rst
  doc/src/index.rst
  doc/src/installation.rst
  doc/src/keywords.rst
  doc/src/overview.rst
  doc/src/script.rst
  doc/src/setup_script.rst
  doc/src/versions.rst
Due: none

doc: Correct some typographical errors and grammar errors (#2328)
  doc/src/bdist_appimage.rst
  doc/src/bdist_dmg.rst
  doc/src/bdist_mac.rst
  doc/src/bdist_msi.rst
  doc/src/bdist_rpm.rst
  doc/src/builtdist.rst
  doc/src/faq.rst
  doc/src/index.rst
  doc/src/installation.rst
  doc/src/keywords.rst
  doc/src/overview.rst
  doc/src/script.rst
  doc/src/setup_script.rst
  doc/src/versions.rst
Due: none

chore: generate multiple files for requirements
  .pre-commit-config.yaml
  MANIFEST.in
  Makefile
  ci/requirements.py
  pyproject.toml
  requirements-dev.txt
  requirements-doc.txt
  requirements-test.txt
  tests/README.md
Due: requirements

chore: generate multiple files for requirements (#2330)
  .pre-commit-config.yaml
  MANIFEST.in
  Makefile
  ci/requirements.py
  pyproject.toml
  requirements-dev.txt
  requirements-doc.txt
  requirements-test.txt
  tests/README.md
Due: requirements

test: add a linux binary wheel test in ci
  .github/workflows/ci.yml
  Makefile
  tests/generate_samples.py
Due: none

test: add a linux binary wheel test in ci (#2332)
  .github/workflows/ci.yml
  Makefile
  tests/generate_samples.py
Due: none

fix: coverage report usage and omit option
  Makefile
  pyproject.toml
Due: requirements

fix: coverage report usage and omit option (#2333)
  Makefile
  pyproject.toml
Due: requirements

test: an expected exception should not be treated as an expected failure
  .pre-commit-config.yaml
  Makefile
  tests/test_command_build_exe.py
  tests/test_executables.py
Due: none

test: an expected exception should not be treated as an expected failure (#2334)
  .pre-commit-config.yaml
  Makefile
  tests/test_command_build_exe.py
  tests/test_executables.py
Due: none

initscripts: use of __loader__ is deprecated
  cx_Freeze/initscripts/__startup__.py
  cx_Freeze/initscripts/console.py
  cx_Freeze/initscripts/consolesetlibpath.py
  samples/build_constants/hello.py
Due: none

move setrecursionlimit to sample
  Makefile
  samples/pandas/setup.py
  tests/test_hooks_pandas.py
Due: none

works in py 3.11
  .github/workflows/ci.yml
Due: none

tests: add test_hooks_pandas.py
  .github/workflows/ci.yml
  Makefile
  tests/test_hooks_pandas.py
Due: none

tests: add test_hooks_pandas.py (#2336)
  .github/workflows/ci.yml
  Makefile
  samples/pandas/setup.py
  tests/test_hooks_pandas.py
Due: none

initscripts: use of __loader__ is deprecated (#2338)
  cx_Freeze/initscripts/__startup__.py
  cx_Freeze/initscripts/console.py
  cx_Freeze/initscripts/consolesetlibpath.py
  samples/build_constants/hello.py
Due: none

fix: regression in _pre_copy_hook (Linux)
  cx_Freeze/freezer.py
Due: none

parser: show what patchelf is doing if silent is off
  cx_Freeze/parser.py
Due: none

parser: show what patchelf is doing if silent is off (#2340)
  cx_Freeze/parser.py
Due: none

build(deps): update dev dependencies
  .pre-commit-config.yaml
  pyproject.toml
  requirements-doc.txt
  requirements-test.txt
Due: requirements

build(deps): update dev dependencies (#2341)
  .pre-commit-config.yaml
  pyproject.toml
  requirements-doc.txt
  requirements-test.txt
Due: requirements

fix: regression in _pre_copy_hook (Linux) (#2342)
  cx_Freeze/freezer.py
Due: none

test: add simple test for bdist_mac
  tests/test_command_bdist_mac.py
Due: none

test: add simple test for bdist_mac (#2343)
  tests/test_command_bdist_mac.py
Due: none

Update finder.py to fix RecursionError: maximum recursion depth exceeded
  cx_Freeze/finder.py
Due: none
