Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, license, requirements

.pre-commit-config.yaml:

ci:
  skip: [blacken-docs, build-docs, shellcheck]

exclude: |
  (?x)^(
      cx_Freeze/hooks/_pyqt5_/_resource.py|
      cx_Freeze/hooks/_pyside2_/_resource.py|
      cx_Freeze/hooks/_pyside6_/_resource.py|
      cx_Freeze/importshed/.*.pyi|
      doc/src/conf.py
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        additional_dependencies:
          - validate-pyproject-schema-store[all]>=2024.11.22

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==25.1.0
        args: ["-l", "79"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        args: ["--ignore-words-list=lief,LIEF", "-w", "--skip=*.rtf"]
        exclude: (?x)^(cx_Freeze/hooks/global_names.py)$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.0
    hooks:
      - id: clang-format
        args: ["--style=file:source/.clang-format"]
        exclude: |
          (?x)^(source/bases/pythoncapi_compat.h|
                source/legacy/pythoncapi_compat.h
          )$
        types_or: [c, c++]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]

  - repo: local
    hooks:
      - id: shellcheck
        name: shell script analysis tool
        entry: shellcheck
        language: system
        files: ^(.*.sh)$

  - repo: local
    hooks:
      - id: build-docs
        name: build sphinx docs
        language: system
        entry: make -C doc html
        always_run: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: license
        name: license
        language: system
        entry: python ci/license.py
        files: ^(doc/src/license.rst|
          cx_Freeze/initscripts/frozen_application_license.txt
          )$

  - repo: local
    hooks:
      - id: requirements
        name: requirements
        language: system
        entry: python ci/requirements.py
        files: ^(pyproject.toml|requirements.txt|requirements-dev.txt|
          doc/requirements.txt|tests/requirements.txt
          )$

Bump version: 8.4.1 → 8.5.0-dev.0 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Version 8.4.1
  index.html
Due: none

Bump version: 8.4.1 → 8.5.0-dev.0 [ci skip] (#3108)
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

fixes for windows
  cx_Freeze/dep_parser.py
  cx_Freeze/freezer.py
  cx_Freeze/winversioninfo.py
  samples/dependencies/getdependentfiles.py
Due: none

Simplify build-wheel workflow and fix a windows test
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  pyproject.toml
  requirements.txt
  tests/test_executables.py
Due: requirements

fix a macos test
  cx_Freeze/freezer.py
Due: none

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_repack_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_py.html
  htmlcov/z_689456c07aa9a9d1_winmsvcr_repack_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

chore: bump freeze-core to 0.2.0
  cx_Freeze/freezer.py
  cx_Freeze/winmsvcr.py
  cx_Freeze/winmsvcr_repack.py
  pyproject.toml
  requirements.txt
  tests/test_command_build_exe.py
  tests/test_winmsvcr.py
Due: requirements

chore: bump freeze-core to 0.2.0 (#3112)
  cx_Freeze/freezer.py
  cx_Freeze/winmsvcr.py
  cx_Freeze/winmsvcr_repack.py
  pyproject.toml
  requirements.txt
  tests/test_command_build_exe.py
  tests/test_winmsvcr.py
Due: requirements

Changed argument name from 'runtime' to 'runtime-file'.
  cx_Freeze/command/bdist_appimage.py
  doc/src/bdist_appimage.rst
  tests/test_command_bdist_appimage.py
Due: none

added "runtime" argument to bdist_appimage command
  cx_Freeze/command/bdist_appimage.py
  doc/src/bdist_appimage.rst
  tests/test_command_bdist_appimage.py
Due: none

doc: add freeze-core to the docs and cleanup [ci skip]
  Makefile
  doc/src/development/code_layout.rst
  doc/src/development/index.rst
  doc/src/installation.rst
Due: none

doc: add freeze-core to the docs and cleanup [ci skip] (#3113)
  Makefile
  doc/src/development/code_layout.rst
  doc/src/development/index.rst
  doc/src/installation.rst
Due: none

Support for build and tests
  ci/_platform.py
  ci/build-manylinux-test-one.sh
  ci/build-manylinux-tests.sh
  ci/build-test-one.sh
  ci/build-test.json
  ci/build-test.sh
  ci/build-utils.sh
  ci/build_run.py
  ci/build_test.py
  ci/manylinux-build-wheel.sh
  ci/manylinux-create.sh
  ci/manylinux-shared.sh
  ci/screencapture.bat
  ci/screencapture.wine.bat
  ci/screencapture.wine.sh
  ci/test-manylinux-one.sh
Due: shellcheck

Improve the sample getdependentfiles
  samples/dependencies/getdependentfiles.py
  samples/dependencies/test_1.py
Due: none

samples: Add ssl and requests samples
  samples/requests/pyproject.toml
  samples/requests/setup.py
  samples/requests/test_requests.py
  samples/ssl/setup.py
  samples/ssl/test_ssl.py
  samples/sslfix/setup.py
  samples/sslfix/test_sslfix.py
Due: none

Bump version: 8.5.0-dev.0 → 8.5.0-dev.1758739308 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

chore: python-msilib as dependency for python 3.13
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/hooks/unused_modules.py
  doc/src/bdist_msi.rst
  pyproject.toml
  requirements.txt
  tests/test_command_bdist_msi.py
Due: requirements

only on windows
  pyproject.toml
  requirements.txt
Due: requirements

chore: python-msilib as dependency for python 3.13 [windows] (#3115)
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/hooks/unused_modules.py
  doc/src/bdist_msi.rst
  pyproject.toml
  requirements.txt
  tests/test_command_bdist_msi.py
Due: requirements

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_0e7a078a6d875882__pydialog_py.html
  htmlcov/z_0e7a078a6d875882_bdist_appimage_py.html
  htmlcov/z_0e7a078a6d875882_bdist_deb_py.html
  htmlcov/z_0e7a078a6d875882_bdist_dmg_py.html
  htmlcov/z_0e7a078a6d875882_bdist_mac_py.html
  htmlcov/z_0e7a078a6d875882_bdist_msi_py.html
  htmlcov/z_0e7a078a6d875882_bdist_rpm_py.html
  htmlcov/z_0e7a078a6d875882_build_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_exe_py.html
  htmlcov/z_0e7a078a6d875882_install_py.html
  htmlcov/z_689456c07aa9a9d1___init___py.html
  htmlcov/z_689456c07aa9a9d1___main___py.html
  htmlcov/z_689456c07aa9a9d1__compat_py.html
  htmlcov/z_689456c07aa9a9d1__license_py.html
  htmlcov/z_689456c07aa9a9d1__pyproject_py.html
  htmlcov/z_689456c07aa9a9d1_cli_py.html
  htmlcov/z_689456c07aa9a9d1_common_py.html
  htmlcov/z_689456c07aa9a9d1_darwintools_py.html
  htmlcov/z_689456c07aa9a9d1_dep_parser_py.html
  htmlcov/z_689456c07aa9a9d1_exception_py.html
  htmlcov/z_689456c07aa9a9d1_executable_py.html
  htmlcov/z_689456c07aa9a9d1_finder_py.html
  htmlcov/z_689456c07aa9a9d1_freezer_py.html
  htmlcov/z_689456c07aa9a9d1_module_py.html
  htmlcov/z_689456c07aa9a9d1_setupwriter_py.html
  htmlcov/z_689456c07aa9a9d1_winversioninfo_py.html
Due: none

build(deps): bump setuptools to 78.1.1 to fix path traversal vulnerability in PackageIndex.download
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  tests/requirements.txt
Due: requirements

build(deps): bump setuptools to 78.1.1 to fix path traversal vulnerability in PackageIndex.download (#3117)
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  tests/requirements.txt
Due: requirements

build(deps): bump python-msi to 0.2.0
  cx_Freeze/command/bdist_msi.py
  pyproject.toml
  requirements.txt
  tests/test_command_bdist_msi.py
Due: requirements

build(deps): bump python-msilib to 0.2.0 (#3118)
  cx_Freeze/command/bdist_msi.py
  pyproject.toml
  requirements.txt
  tests/test_command_bdist_msi.py
Due: requirements

Bump version: 8.5.0-dev.0 → 8.5.0-dev.1759525318 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Bump version: 8.5.0-dev.0 → 8.5.0-dev.1759779430 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements
