Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements, pylint

license:
  name: license
  language: system
  entry: python ci/license.py

requirements:
  name: requirements
  language: system
  entry: python ci/requirements.py

pylint:
  name: pylint
  entry: pylint
  language: system

bdist_mac: move set_relative_reference_paths to build_exe (#2106)
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/darwintools.py
  cx_Freeze/freezer.py
Due: pylint

hooks: tweaks to the debugging of qt hooks
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt5/_append_to_init.py
  cx_Freeze/hooks/pyqt5/debug.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyqt6/debug.py
  cx_Freeze/hooks/pyside2/__init__.py
  cx_Freeze/hooks/pyside2/debug.py
  cx_Freeze/hooks/pyside6/__init__.py
Due: pylint

hooks: tweaks to the debugging of qt hooks (#2108)
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt5/_append_to_init.py
  cx_Freeze/hooks/pyqt5/debug.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyqt6/debug.py
  cx_Freeze/hooks/pyside2/__init__.py
  cx_Freeze/hooks/pyside2/debug.py
  cx_Freeze/hooks/pyside6/__init__.py
Due: pylint

hooks: fix qt.conf for pyqt [macos]
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyqt6/qt_macos.conf
  cx_Freeze/hooks/pyqt6/qt_msys2.conf
Due: pylint

hooks: fix qt.conf for pyqt [macos] (#2109)
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyqt6/qt_macos.conf
  cx_Freeze/hooks/pyqt6/qt_msys2.conf
Due: pylint

samples: improve qt samples
  samples/pyside2-simplebrowser/codesign-entitlements.plist
  samples/pyside2-simplebrowser/setup.py
  samples/pyside6-simplebrowser/codesign-entitlements.plist
  samples/pyside6-simplebrowser/setup.py
Due: pylint

hooks: fix qtwebengine in conda-forge
  cx_Freeze/hooks/_qthooks.py
Due: pylint

hooks: fix qt.conf for pyqt [macos] (#2109)
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyqt6/qt_macos.conf
  cx_Freeze/hooks/pyqt6/qt_msys2.conf
Due: pylint

hooks: fix qtwebengine in conda-forge (#2110)
  cx_Freeze/hooks/_qthooks.py
Due: pylint

update blaken
  .pre-commit-config.yaml
Due: none

"Bump version: 6.15.9 → 6.15.10 [ci skip]"
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

"Bump version: 6.16.0-dev9 → 6.16.0-dev10 [ci skip]"
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

"Bump version: 6.16.0-dev9 → 6.16.0-dev10 [ci skip]" (#2114)
  .bumpversion.cfg
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements, pylint

Blacken
  .pre-commit-config.yaml
Due: none

hooks: fix pyqt6 in bdist_mac (.app)
  cx_Freeze/hooks/pyqt6/__init__.py
Due: pylint

hooks: fix pyqt6 in bdist_mac (.app) (#2122)
  cx_Freeze/hooks/pyqt6/__init__.py
Due: pylint

hooks: use a different approach for pyqt6 in bdist_mac
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyqt6/qt_bdist_mac.conf
Due: pylint

hooks: use a different approach for pyqt6 in bdist_mac (#2123)
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyqt6/qt_bdist_mac.conf
Due: pylint

hooks: Support for PyQt6/pySide6 QtWebEngine in macOS
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyside6/__init__.py
Due: pylint

cx_Freeze 6.15.10
  index.html
Due: none

hooks: Support for PyQt6/PySide6 QtWebEngine in macOS (#2124)
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/pyqt6/__init__.py
  cx_Freeze/hooks/pyside6/__init__.py
Due: pylint

hooks: Support for PyQt5/PySide2 QtWebEngine in macOS
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyside2/__init__.py
Due: pylint

hooks: Support for PyQt5/PySide2 QtWebEngine in macOS (#2127)
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyside2/__init__.py
Due: pylint

samples: improve qt samples (#2128)
  samples/pyside2-simplebrowser/codesign-entitlements.plist
  samples/pyside2-simplebrowser/setup.py
  samples/pyside6-simplebrowser/codesign-entitlements.plist
  samples/pyside6-simplebrowser/setup.py
Due: pylint

blacken-docs
  .pre-commit-config.yaml
Due: none

build_exe: raise exception on invalid build_exe option
  cx_Freeze/command/build_exe.py
  tests/test_command_build_exe.py
Due: pylint

build_exe: raise exception on invalid build_exe option (#2132)
  cx_Freeze/command/build_exe.py
  tests/test_command_build_exe.py
Due: pylint

hooks: adds anyio, pyarrow and tiktoken
  cx_Freeze/hooks/anyio.py
  cx_Freeze/hooks/pyarrow.py
  cx_Freeze/hooks/tiktoken.py
Due: pylint

chore: cosmetic and minor tweaks
  cx_Freeze/_compat.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/util.pyi
  cx_Freeze/winmsvcr.py
Due: pylint

chore: cosmetic and minor tweaks (#2137)
  cx_Freeze/_compat.py
  cx_Freeze/finder.py
  cx_Freeze/freezer.py
  cx_Freeze/util.pyi
  cx_Freeze/winmsvcr.py
Due: pylint

hooks: adds anyio, pyarrow and tiktoken (#2134)
  cx_Freeze/hooks/anyio.py
  cx_Freeze/hooks/pyarrow.py
  cx_Freeze/hooks/tiktoken.py
Due: pylint

Path conditions:
  license: any of: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

  requirements: any of: ^(pyproject.toml|requirements.*.txt)$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

  pylint: any of: \.py$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py
)$

