Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements

license:
  name: license
  language: system
  entry: python ci/license.py

requirements:
  name: requirements
  language: system
  entry: python ci/requirements.py

build-wheel: build only universal2 wheels on macOS (#2760)
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  ci/build-wheel.sh
  pyproject.toml
Due: requirements

chore: enable experimental free-threaded python 3.13 on unix
  ci/build-wheel.sh
  cx_Freeze/_compat.py
  cx_Freeze/executable.py
  pyproject.toml
  requirements-dev.txt
  setup.py
  tests/test_executables.py
Due: requirements

fix: #2680 regression
  cx_Freeze/module.py
Due: none

fix: #2680 regression (#2762)
  cx_Freeze/module.py
Due: none

hooks: fix pyqt5 on conda-forge
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt5/_append_to_init.py
Due: none

chore: add some fail-safe checks
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/tkinter.py
  tests/test_command_bdist_deb.py
Due: none

samples: Add ssl and requests samples
  samples/requests/pyproject.toml
  samples/requests/setup.py
  samples/requests/test_requests.py
  samples/ssl/setup.py
  samples/ssl/test_ssl.py
  samples/sslfix/setup.py
  samples/sslfix/test_sslfix.py
Due: none

Improve the sample getdependentfiles
  samples/dependencies/getdependentfiles.py
  samples/dependencies/test_1.py
Due: none

Support for build and tests
  ci/_platform.py
  ci/build-manylinux-test-one.sh
  ci/build-manylinux-tests.sh
  ci/build-test-one.sh
  ci/build-test.json
  ci/build-test.sh
  ci/build-utils.sh
  ci/build_run.py
  ci/build_test.py
  ci/manylinux-build-wheel.sh
  ci/manylinux-create.sh
  ci/manylinux-shared.sh
  ci/screencapture.bat
  ci/screencapture.wine.bat
  ci/screencapture.wine.sh
  ci/test-manylinux-one.sh
Due: none

Bump version: 7.3.0-dev.1 → 7.3.0-dev.1735794963 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

chore: add some fail-safe checks (#2764)
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/numpy.py
  cx_Freeze/hooks/tkinter.py
  tests/test_command_bdist_deb.py
Due: none

chore: add some fail-safe checks (#2764)
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/numpy.py
  tests/test_command_bdist_deb.py
Due: none

hooks: fix pyqt5 on conda-forge (#2763)
  cx_Freeze/hooks/_qthooks.py
  cx_Freeze/hooks/pyqt5/__init__.py
  cx_Freeze/hooks/pyqt5/_append_to_init.py
Due: none

chore: happy new year [ci skip]
  LICENSE.md
  cx_Freeze/cli.py
  cx_Freeze/initscripts/frozen_application_license.txt
  cx_Freeze/winversioninfo.py
  doc/src/bdist_msi.rst
  doc/src/conf.py
  samples/msi_binary_data/setup.py
Due: license

chore: happy new year [ci skip] (#2765)
  LICENSE.md
  cx_Freeze/cli.py
  cx_Freeze/initscripts/frozen_application_license.txt
  cx_Freeze/winversioninfo.py
  doc/src/bdist_msi.rst
  doc/src/conf.py
  samples/msi_binary_data/setup.py
Due: license

cx_Freeze 7.2.8
  index.html
Due: none

fix: compatibility with python 3.8
  doc/requirements.txt
  pyproject.toml
Due: requirements

fix: build sdist and wheel for py38 on macos
  .github/workflows/build-wheel.yml
  ci/build-wheel.sh
  pyproject.toml
Due: requirements

Bump version: 7.2.7 → 7.2.8 [ci skip]
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

ci: fix some build and test issues
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  MANIFEST.in
  Makefile
  ci/build-wheel.sh
Due: none

ci: fix some build and test issues (#2767)
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  MANIFEST.in
  Makefile
  ci/build-wheel.sh
Due: none

ci: minor tweaks and fixes
  .github/workflows/ci.yml
  Makefile
Due: none

ci: minor tweaks and fixes (#2768)
  .github/workflows/ci.yml
  Makefile
Due: none

chore: enable experimental free-threaded python 3.13 on unix
  .github/workflows/ci.yml
  ci/build-wheel.sh
  cx_Freeze/_compat.py
  cx_Freeze/executable.py
  cx_Freeze/freezer.py
  pyproject.toml
  requirements-dev.txt
  setup.py
  tests/test_executables.py
  tests/test_freezer.py
Due: requirements

chore: enable experimental free-threaded python 3.13 on unix (#2759)
  .github/workflows/ci.yml
  ci/build-wheel.sh
  cx_Freeze/_compat.py
  cx_Freeze/executable.py
  cx_Freeze/freezer.py
  pyproject.toml
  requirements-dev.txt
  setup.py
  tests/test_executables.py
  tests/test_freezer.py
Due: requirements

chore: use new features of uv
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  .readthedocs.yaml
  Makefile
  ci/build-wheel.sh
Due: none

chore: use new features of uv (#2769)
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  .readthedocs.yaml
  Makefile
  ci/build-wheel.sh
Due: none

chore: lief>=0.13.2,<=0.16.2 [windows]
  .github/workflows/ci.yml
  Makefile
  ci/build-wheel.sh
  doc/src/installation.rst
  pyproject.toml
  requirements.txt
Due: requirements

Path conditions:
  license: any of: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py|
    cx_Freeze/importshed/.*.pyi|
    doc/src/conf.py
)$

  requirements: any of: ^(pyproject.toml|requirements.*.txt)$, but not: (?x)^(
    .bumpversion.cfg|
    cx_Freeze/hooks/pyqt5/resource.py|
    cx_Freeze/hooks/pyside2/resource.py|
    cx_Freeze/hooks/pyside6/resource.py|
    cx_Freeze/importshed/.*.pyi|
    doc/src/conf.py
)$

