Repository marcelotduarte/cx_Freeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, requirements

.pre-commit-config.yaml:

exclude: |
    (?x)^(
        .bumpversion.cfg|
        cx_Freeze/hooks/pyside2/resource.py|
        cx_Freeze/hooks/pyside6/resource.py|
        tests/samples/invalid_syntax.py|
        tests/samples/testpkg1/.*.py
    )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: ["--py37-plus"]

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==22.12.0]
    args: ["-l", "79"]

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.10.1
  hooks:
  - id: validate-pyproject

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/PyCQA/pylint
  rev: v2.15.8
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]

- repo: local
  hooks:
  - id: build-docs
    name: build sphinx docs
    language: system
    entry: sphinx-build -M html doc/src build/doc -d build/doc/.doctrees -j auto
    always_run: true
    pass_filenames: false

- repo: local
  hooks:
  - id: license
    name: license
    language: system
    entry: python ci/license.py
    files: ^(doc/src/license.rst|cx_Freeze/initscripts/frozen_application_license.txt)$

- repo: local
  hooks:
  - id: requirements
    name: requirements
    language: system
    entry: python ci/requirements.py
    files: ^(pyproject.toml|requirements.*.txt)$

hooks: Add sklearn hook (#1715)
  cx_Freeze/hooks/__init__.py
Due: none

hooks: Update scipy hook (#1716)
  cx_Freeze/hooks/scipy.py
Due: none

[windows] setup: optional compilation in editable mode
  setup.py
Due: none

[windows] setup: optional compilation in editable mode (#1718)
  setup.py
Due: none

hooks: Add pytorch hook
  cx_Freeze/hooks/__init__.py
Due: none

project: Improve patchelf dependency specification
  cx_Freeze/parser.py
  doc/src/faq.rst
  doc/src/installation.rst
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

hooks: Add hooks for shapely
  cx_Freeze/hooks/__init__.py
Due: none

dist: Use another aproach to export DistributionMetadata
  cx_Freeze/dist.py
Due: none

project: Improve patchelf dependency specification (#1722)
  cx_Freeze/parser.py
  doc/src/faq.rst
  doc/src/installation.rst
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

dist: Use another aproach to export DistributionMetadata (#1726)
  cx_Freeze/dist.py
Due: none

hooks: Add shapely (#1725)
  cx_Freeze/hooks/__init__.py
Due: none

doc: Add keywords for setup() and reorganize read order
  doc/src/conf.py
  doc/src/development/index.rst
  doc/src/index.rst
  doc/src/installation.rst
  doc/src/keywords.rst
  doc/src/setup_script.rst
  doc/src/versions.rst
Due: none

doc: Add keywords for setup() and reorganize read order (#1728)
  doc/src/conf.py
  doc/src/development/index.rst
  doc/src/index.rst
  doc/src/installation.rst
  doc/src/keywords.rst
  doc/src/setup_script.rst
  doc/src/versions.rst
Due: none

build: setuptools has 'build' command since v62.4.0
  cx_Freeze/command/build.py
  doc/src/development/code_layout.rst
  tests/test_command_build.py
Due: none

build: setuptools has 'build' command since v62.4.0 (#1729)
  cx_Freeze/command/build.py
  doc/src/development/code_layout.rst
  tests/test_command_build.py
Due: none

Drop the external dependency on packaging
  cx_Freeze/_compat.py
  cx_Freeze/command/_bdist_msi.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/winversioninfo.py
  doc/src/installation.rst
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_winversioninfo.py
Due: requirements

Drop the external dependency on packaging (#1730)
  cx_Freeze/_compat.py
  cx_Freeze/command/_bdist_msi.py
  cx_Freeze/command/bdist_msi.py
  cx_Freeze/winversioninfo.py
  doc/src/installation.rst
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_winversioninfo.py
Due: requirements

dist: Use project.entry-point to extend Distribution instead of subclassing
  cx_Freeze/__init__.py
  cx_Freeze/dist.py
  pyproject.toml
Due: requirements

Add a test and fix another
  tests/test_command_bdist_msi.py
  tests/test_command_build_exe.py
Due: none

dist: Use setuptools plugins to extend Distribution instead of subclassing (#1733)
  cx_Freeze/__init__.py
  cx_Freeze/dist.py
  pyproject.toml
  tests/test_command_bdist_msi.py
  tests/test_command_build_exe.py
Due: requirements

Use setuptools Distribution directly
  cx_Freeze/dist.py
  cx_Freeze/executable.py
  pyproject.toml
  tests/test_command_bdist_msi.py
  tests/test_command_build.py
Due: requirements

Use setuptools Distribution directly (#1736)
  cx_Freeze/dist.py
  cx_Freeze/executable.py
  pyproject.toml
  tests/test_command_bdist_msi.py
  tests/test_command_build.py
Due: requirements

Add build_exe as subcommand of setuptools build (plugin)
  cx_Freeze/__init__.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/command/build.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/command/install_exe.py
  cx_Freeze/dist.py
  cx_Freeze/freezer.py
  cx_Freeze/sandbox.py
  doc/src/development/code_layout.rst
  pyproject.toml
  tests/test___init__.py
  tests/test_command_build.py
Due: requirements

Add build_exe as subcommand of setuptools build (plugin) (#1737)
  cx_Freeze/__init__.py
  cx_Freeze/command/bdist_mac.py
  cx_Freeze/command/bdist_rpm.py
  cx_Freeze/command/build.py
  cx_Freeze/command/build_exe.py
  cx_Freeze/command/install_exe.py
  cx_Freeze/dist.py
  cx_Freeze/freezer.py
  cx_Freeze/sandbox.py
  doc/src/development/code_layout.rst
  pyproject.toml
  tests/test___init__.py
  tests/test_command_build.py
Due: requirements

Small fixes in code and documentation
  Makefile
  cx_Freeze/freezer.py
  doc/src/conf.py
  doc/src/keywords.rst
  tests/README.md
  tests/test_command_build.py
  tests/test_command_build_exe.py
Due: none

Small fixes in code and documentation (#1738)
  Makefile
  cx_Freeze/freezer.py
  doc/src/conf.py
  doc/src/keywords.rst
  tests/README.md
  tests/test_command_build.py
  tests/test_command_build_exe.py
Due: none

Ignore build time error
  cx_Freeze/parser.py
Due: none

Add/update commands (provisional) and minor tweaks
  cx_Freeze/__init__.py
  cx_Freeze/command/install.py
  cx_Freeze/command/install_exe.py
Due: none

Add/update commands (provisional) and minor tweaks (#1746)
  cx_Freeze/__init__.py
  cx_Freeze/command/install.py
  cx_Freeze/command/install_exe.py
Due: none

install: run() method needs to exist
  cx_Freeze/command/install.py
Due: none

Bump version: 6.14.0-dev0 → 6.14.0-dev1
  .bumpversion.cfg
  .pre-commit-config.yaml
  Makefile
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

Bump version: 6.14.0-dev0 → 6.14.0-dev1 (#1748)
  .bumpversion.cfg
  .pre-commit-config.yaml
  Makefile
  cx_Freeze/__init__.py
  doc/src/conf.py
  pyproject.toml
Due: requirements

update copyright year
  cx_Freeze/cli.py
  cx_Freeze/initscripts/frozen_application_license.txt
  cx_Freeze/winversioninfo.py
  doc/src/conf.py
  doc/src/license.rst
  doc/src/setup_script.rst
Due: license

Update copyright year (#1749)
  cx_Freeze/cli.py
  cx_Freeze/initscripts/frozen_application_license.txt
  cx_Freeze/winversioninfo.py
  doc/src/conf.py
  doc/src/license.rst
  doc/src/setup_script.rst
Due: license

docs: use 'furo' theme for sphinx
  .readthedocs.yaml
  doc/src/conf.py
  pyproject.toml
  requirements-dev.txt
Due: requirements

docs: use 'furo' theme for sphinx (#1750)
  .readthedocs.yaml
  doc/src/conf.py
  pyproject.toml
  requirements-dev.txt
Due: requirements

Declare support for setuptools 66.0
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: requirements

Add dependabot
  .github/dependabot.yml
Due: none

install: run() method needs to exist (#1747)
  cx_Freeze/command/install.py
Due: none
